Django==1.7.4
Markdown==2.6.1
Pillow==2.7.0
SQLAlchemy==0.9.9
South==1.0.2
defusedxml==0.4.1
dj-database-url==0.3.0
dj-static==0.0.6
django-allauth==0.19.1
django-crispy-forms==1.4.0
django-geojson==2.6.0
django-leaflet==0.15.2
django-markdown==0.8.4
django-postgrespool==0.3.0
django-toolbelt==0.0.1
django-treasuremap==0.2
gunicorn==19.3.0
jsonfield==1.0.3
oauthlib==0.7.2
psycopg2==2.6
python3-openid==3.0.5
requests==2.6.0
requests-oauthlib==0.4.2
six==1.9.0
sorl-thumbnail==12.2
static3==0.5.1
