{% extends "personas/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% block title %}
    <header>
        <h1>Edit Scene - {{ object.title }}</h1>
    </header>
{% endblock %}

{% block content_l %}
<div class="col-md-2 col-sm-2 col-lg-2" id="col1">
    </div>
{% endblock %}
{% block column1 %}
<div class="col-md-6 col-sm-6 col-lg-6" id="col1">
    {% crispy form %}
</div>
{% endblock %}

{% block column2 %}
        <hr>
 <a href="{% url 'delete_scene' pk=object.pk %}" class="btn btn-danger">Delete Scene</a>
</div>
{% endblock %}


{% block content_r %}
<div class="col-md-2 col-sm-2 col-lg-2">
    </div>
{% endblock %}
