{% extends "personas/base.html" %}

{% block title %}
                            <header>
                                <h1>About Persona</h1>
                            </header>
                        {% endblock %}


   {% block l_content %}
        <div class="col-md-2 col-sm-0 col-lg-2">
        </div>
    {% endblock %}

    {% block column1 %}
        <div class="col-md-8 col-sm-8 col-lg-8" id="col1">
            <h3>What is Persona?</h3>
            <p>
                Persona is a social networking site for creators and their creations.  It's designed to allow an author to create a fully fleshed out story, including characters, locations, artifacts and story arcs and to clearly define the relationships between them.<br><br>
                It's also designed to facilitate the development of these stories as a community.  This could be a group of gamers who are engaging in the shared creation of a world together, or friends collaborating on a movie script who want to map out their storyline together.<br><br>
                Persona does this by allowing characters in stories to enage each other in fictional dialogues or communiques.
            </p>
            <h3>How do I start?</h3>
            <p>
            <strong>Everything in Persona starts with a story</strong>.</p>
            <p>You can browse the public stories available on the site through the buttons to the right.</p>
            <p>If you want to start creating your own stories or to create characers, locations or items in an existing story, you'll need to register using the button to the top right.</p>
            <p>After registering and logging in, a story's creator can grant you access to their content or you can jump right in and create your own story!</p>
        </p>
        <hr>
        <a href="/personas/">Return to your Workshop</a>
        </div>

    {% endblock %}
