{% extends "personas/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}
    <header>
        <h1>{{ character }} - Adding Skills</h1>
    </header>
{% endblock %}
<div class="row">
    {% block l_content %}
        <div class="col-md-2 col-sm-0 col-lg-2">
        </div>
    {% endblock %}
    {% block column1 %}
        <div class="col-md-2 col-sm-3 col-lg-2" id="col1">
            <h3>Skills</h3>
            <p>Skills are ways to explain what your character can do.  Each game system treats skills differently, but most of them tend to both designate a skill and designate a skill value that tells you <i>how good you are</i> at using the skill.</p>
            <p>For each Skill, choose a name that describes the skill or talent or choose from a pre-prepared skill list for your game.</p>
            <p>You will also need to choose a skill type, which defaults to "Genral".  Because this is set up for a GUMSHOE game, we've included an "Investigative" option as well.  More options still to come!</p>
        </div>
    {% endblock %}
    {% block column2 %}
        <div class="col-md-2 col-sm-3 col-lg-2" id="col2">
        <h3>Current Skills</h3>
                                {% if type_1_skills %}
                                <h3>{{ story.skill_type_name_1 }}:</h3>
                            <table class="table table-condensed table-hover table-responsive">
                                    {% for skill in type_1_skills %}
                                        <tr>
                                            <td> {{ skill.name }}</td>
                                            <td> {{ skill.value }}</td>
                                            <td><a href="{% url 'edit_skill' pk=skill.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a> </td><td> <a href="{% url 'delete_skill' pk=skill.pk %}" style="color:gray"><span class="glyphicon glyphicon-remove"></span></a></td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </table>
         {% if type_2_skills %}
                                <h3>{{ story.skill_type_name_2 }}:</h3>
                            <table class="table table-condensed table-hover table-responsive">
                                    {% for skill in type_2_skills %}
                                        <tr>
                                            <td> {{ skill.name }}</td>
                                            <td> {{ skill.value }}</td>
                                            <td><a href="{% url 'edit_skill' pk=skill.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a> </td><td> <a href="{% url 'delete_skill' pk=skill.pk %}" style="color:gray"><span class="glyphicon glyphicon-remove"></span></a></td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </table>
                        </div>
      {% endblock %}
    {% block column3 %}
    <div class="col-md-2 col-sm-3 col-lg-2" id="col3">
                            {% if type_3_skills %}
                                <h3>{{ story.skill_type_name_3 }}:</h3>
                            <table class="table table-condensed table-hover table-responsive">
                                    {% for skill in type_3_skills %}
                                        <tr>
                                            <td> {{ skill.name }}</td>
                                            <td> {{ skill.value }}</td>
                                            <td><a href="{% url 'edit_skill' pk=skill.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a> </td><td> <a href="{% url 'delete_skill' pk=skill.pk %}" style="color:gray"><span class="glyphicon glyphicon-remove"></span></a></td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </table>
                             {% if type_4_skills %}
                                <h3>{{ story.skill_type_name_4 }}:</h3>
                            <table class="table table-condensed table-hover table-responsive">
                                    {% for skill in type_4_skills %}
                                        <tr>
                                            <td> {{ skill.name }}</td>
                                            <td> {{ skill.value }}</td>
                                            <td><a href="{% url 'edit_skill' pk=skill.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a> </td><td> <a href="{% url 'delete_skill' pk=skill.pk %}" style="color:gray"><span class="glyphicon glyphicon-remove"></span></a></td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </table>
                        </div>
    {% endblock %}
    {% block column4 %}
        <div class="col-md-2 col-sm-3 col-lg-2" id="col4">
            <h3>Add Skill</h3>
            {% crispy form %}
            <br><br><br>
            <h4>Finished adding skills?</h4>
            <div tyle="padding-left:50px">
                <a role="button" class="btn btn-primary" href="/personas/add_ability/{{ character.slug }}">I'm done. Next Step!</a>
            </div><br>
            <div tyle="padding-left:50px">
                <a role="button" class="btn btn-primary" href="/personas/character/{{ character.slug }}/#skills">Take me straight<br>to my character.</a>
            </div>
        </div>
    {% endblock %}
    {% block r_content %}
        <div class="col-md-2 col-sm-0 col-lg-2">
        </div>
    {% endblock %}
</div>