{% extends "personas/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}
    <header>
        <h1>{{ storyobject }} - Adding Relationships</h1>
    </header>
{% endblock %}
<div class="row">
    {% block l_content %}
        <div class="col-md-2 col-sm-0 col-lg-2">
        </div>
    {% endblock %}
    {% block column1 %}
        <div class="col-md-2 col-sm-4 col-lg-2" id="col1">
            <h3>Relationships</h3>
            <p>Relationships are how your character relates to the other character in the story.  Each relationship shows a single side of the interaction - your side.  You define what your character thinks or feels about other antagonists, progatonists or supporting character, while they define what they think about your character.  For example, you might think someone is rather dull, while they might find you a scintillating conversationalist.</p>
            <p>Each relationship requires an object character, a category for the relationship, a weight (which measures how strongly your storyobject feels) and a description.</p>
            <p>The weight of the relationship is a percentage between 0% and 100%.</p>
            <p> <strong>Note: </strong> You can only create relationships between characters in the same story.  If you are the first character in the story, you'll need to come back and add your relationships later.</p>
        </div>
    {% endblock %}
    {% block column2 %}
        <div class="col-md-3 col-sm-4 col-lg-3" id="col2">
            <h3>Relationships:</h3>
                                {% if relationships %}
                                <ul>
                                {% for relationship in relationships %}
                                    <li>
                                <a href="/personas/storyobject/{{ relationship.from_storyobject.slug }}">{{ relationship.from_storyobject }}</a> >> {{ relationship.relationship_class }} >> <a href="/personas/storyobject/{{ relationship.to_storyobject.slug }}">{{ relationship.to_storyobject }}</a>
                                 ({{ relationship.relationship_description }}: {{ relationship.weight }}) |
                                    <a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_relationship' pk=relationship.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a>
                                    | <a class="fancybox" data-fancybox-type="iframe" href="{% url 'delete_relationship' pk=relationship.pk %}" style="color:gray"><span class="glyphicon glyphicon-remove"></span></a>
                                </li>
                                    {% endfor %}
                                </ul>
                                {% else %}
                                        <strong>No relationships.</strong>
                                {% endif %}
                                <br><br>
                        </div>
    {% endblock %}
    {% block column3 %}
        <div class="col-md-3 col-sm-4 col-lg-3" id="col3">
            <h3>Add Relationship</h3>
            {% crispy relationship_form %}
            <h4>Finished adding relationships?</h4>
            <p>Go on to Memberships!</p>
            <div tyle="padding-left:50px">
                <a role="button" class="btn btn-primary" href="/personas/add_membership/{{ storyobject.slug }}">I'm done! Next Step!</a>
                <hr>
                <div tyle="padding-left:50px">
                <a role="button" class="btn btn-primary" href="/personas/storyobject/{{ storyobject.slug }}/#details">Take me straight<br>to my character.</a>
            </div>
            </div>
        </div>
    {% endblock %}
    {% block r_content %}
        <div class="col-md-2 col-sm-0 col-lg-2">
        </div>
    {% endblock %}
</div>