{% extends "personas/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}
    <header>
        <h1>{{ storyobject }} - Adding Combat Info</h1>
    </header>
{% endblock %}
<div class="row">
    {% block l_content %}
        <div class="col-md-2 col-sm-0 col-lg-2">
        </div>
    {% endblock %}
    {% block column1 %}
        <div class="col-md-2 col-sm-3 col-lg-2" id="col1">
            <h3>Combat Information</h3>
            <p>Enter any information needed for combat here.  If your game or story doesn't involve specific abilities for combat, then just leave this blank.</p>
            
        </div>
    {% endblock %}
    {% block column2 %}
        <div class="col-md-2 col-sm-3 col-lg-2" id="col2">
            <h3>Combat Information:</h3>
                            <table class="table table-condensed table-hover table-responsive">
                                {% if combat_info %}
                                    {% for element in combat_info %}
                                        <tr>
                                            <td> {{ element.title }}</td>
                                            <td> {{ element.data }}</td>
                                            <td><a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_combat_info' pk=element.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a> | <a class="fancybox" data-fancybox-type="iframe" href="{% url 'delete_combat_info' pk=element.pk %}" style="color:gray"><span class="glyphicon glyphicon-remove"></span></a></td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td> No Combat Info </td>
                                    </tr>
                                {% endif %}
                            </table>
                        </div>
      {% endblock %}

    {% block column3 %}
        <div class="col-md-4 col-sm-6 col-lg-4" id="col1">
            <h3>Add Combat Info</h3>
            {% crispy form %}
            <br><br><br>
            <h4>Finished adding combat info?</h4>
            <div tyle="padding-left:50px">
                <a role="button" class="btn btn-primary" href="/personas/add_relationships/{{ storyobject.slug }}">I'm done. Next Step!</a>
            </div><br>
             <div tyle="padding-left:50px">
                <a role="button" class="btn btn-primary" href="/personas/storyobject/{{ storyobject.slug }}/#combat">Take me straight<br>to my character.</a>
            </div>
        </div>
    {% endblock %}
    {% block r_content %}
        <div class="col-md-2 col-sm-0 col-lg-2">
        </div>
    {% endblock %}
</div>