{% extends "personas/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
<header>
    <h1>{{ storyobject }} - Adding Aspects</h1>
</header>
{% endblock %}

<div class="row">

{% block l_content %}
<div class="col-md-2 col-sm-0 col-lg-2">
</div>
{% endblock %}

{% block column1 %}
    <div class="col-md-2 col-sm-4 col-lg-3" id="col1">
    <h3>Memberships</h3>
    <p>Membership denotes that the story object both belongs to an organization and has a role within that organization.</p>

    {% if storyobject.image %}
    <img src="{{ storyobject.image.url }}" alt="storyobject Image" width="100%" height="100%">
    {% else %}
    <img src="{% static 'images/035.jpg' %}" alt="Cthulhu" width="100%" height="100%">
    {% endif %}
    </div>
{% endblock %}

{% block column2 %}
    <div class="col-md-3 col-sm-4 col-lg-2" id="col2">
<h3>Current Memberships</h3>
    {% if memberships %}
    <ul>
    {% for membership in memberships %}
        <li>
            <a href="/personas/organization/{{ membership.organization.slug }}">{{ membership.organization }}</a> - Rank {{ membership.rank }} - ({{ membership.role }}) | 
            <a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_membership' pk=membership.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a>
            | <a class="fancybox" data-fancybox-type="iframe" href="{% url 'delete_membership' pk=membership.pk %}" style="color:gray"><span class="glyphicon glyphicon-remove"></span></a>
        </li>
    {% endfor %}
    </ul>
    {% else %}
    <strong>{{ storyobject.name }} has no memberships.</strong>
    {% endif %}
    </div>
{% endblock %}

{% block column3 %}
    <div class="col-md-3 col-sm-4 col-lg-3" id="col3">
    <h3>Add or Modify membership</h3>
        {% crispy membership_form %}
    <br><br><br>
    <h4>Finished adding membership?</h4>
            <div tyle="padding-left:50px">
                <a role="button" class="btn btn-primary" href="/personas/storyobject/{{ storyobject.slug }}">I'm done. Take me to my character page!</a>
            </div>
    </div>
{% endblock %}

{% block r_content %}
<div class="col-md-2 col-sm-0 col-lg-2">
</div>
{% endblock %}

</div>