{% extends "personas/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
<header>
    <h1>Add Scene to "{{ story.title }}"</h1>
</header>
{% endblock %}

{% block content %}

{% block l_content %}
    <div class="col-md-1 col-sm-1 col-lg-1">
    </div>
{% endblock %}

{% block column1 %}
    <div class="col-md-4 col-sm-4 col-lg-4" id="col1">
    <h3>Adding a Scene</h3>
    <p>Scenes are where the action and drama of your chronicle take place.  An action scene, an investigative scene or a love scene, all take place here.</p>
    </div>

    <div class="col-md-6 col-sm-6 col-lg-6" id="col1">
    <h3>Add a Scene</h3>
    {% crispy scene_form %}
    <br><br><br>
    </div>
{% endblock %}

{% block r_content %}
<div class="col-md-1 col-sm-1 col-lg-1">
</div>
{% endblock %}

{% endblock %}