{% extends "personas/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
<header>
    <h1>{{ storyobject.name }} - Adding Aspects</h1>
</header>
{% endblock %}

<div class="row">

{% block l_content %}
<div class="col-md-2 col-sm-0 col-lg-2">
</div>
{% endblock %}

{% block column1 %}
    <div class="col-md-2 col-sm-4 col-lg-3" id="col1">
    <h3>Aspects and Traits</h3>
    <p>Aspects and traits are ways that you can distill your character down to a few succinct lines of prose.</p>
    <p>For each Aspect, choose a label that is most appropriate and come up with a fun, entertaining line that encapsulates your character.  You can find great resources for coming up with awesome aspects on the <a href="http://fate-srd.com">FATE System Reference Document</a> or in <a href="http://fate-srd.com/fate-core/making-good-aspect">FATE Core</a>.</p>
    </div>
{% endblock %}

{% block column2 %}
    <div class="col-md-3 col-sm-4 col-lg-2" id="col2">
<h3>Current Aspects</h3>
    {% if aspects %}
    {% for aspect in aspects %}
    <ul>
        <li>{{ aspect }}
        {% if user == storyobject.creator or user == story.author %}
        <a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_aspect' pk=aspect.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a>
        {% else %}{% endif %}
        </li>
    </ul>
    {% endfor %}
    {% else %}
    <strong>{{ storyobject.name }} has no Aspects.</strong>
    {% endif %}
    </div>
{% endblock %}

{% block column3 %}
    <div class="col-md-3 col-sm-4 col-lg-3" id="col3">
    <h3>Add or Modify Aspects</h3>
        {% crispy form %}
    <br><br><br>
    <h4>Finished adding Aspects?</h4>
            <div tyle="padding-left:50px">
                <a role="button" class="btn btn-primary" href="/personas/add_statistics/{{ storyobject.slug }}">I'm done. Next Step!</a>
            </div>
        <hr>
        <div tyle="padding-left:50px">
                <a role="button" class="btn btn-primary" href="/personas/storyobject/{{ storyobject.slug }}/#details">Take me straight<br>to my character.</a>
            </div>
    </div>
{% endblock %}

{% block r_content %}
<div class="col-md-2 col-sm-0 col-lg-2">
</div>
{% endblock %}

</div>