{% extends "personas/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}
    <header>
        <h1>{{ storyobject }} - Adding Statistics</h1>
    </header>
{% endblock %}
{% block content %}

    {% block l_content %}
        <div class="col-md-1 col-sm-1 col-lg-1">
        </div>
    {% endblock %}
    {% block column1 %}
        <div class="col-md-3 col-sm-3 col-lg-3" id="col1">
            <h3>Statistics</h3>
            <p>Stats natural or inborn abilities that your {{ storyobject.c_type }} possesses.  These will vary by your game.</p>
        </div>
    {% endblock %}
    {% block column2 %}
        <div class="col-md-4 col-sm-4 col-lg-4" id="col2">
        <h3>Current Statistics</h3>
                                {% if type_1_statistics %}
                                <h3>{{ story.statistic_type_name_1 }}:</h3>
                            <table class="table table-condensed table-hover table-responsive">
                                    {% for stat in type_1_statistics %}
                                        <tr>
                                            <td> {{ stat.name }}</td>
                                            <td> {{ stat.value }}</td>
                                            <td><a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_statistic' pk=stat.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a> </td><td> <a class="fancybox" data-fancybox-type="iframe" href="{% url 'delete_statistic' pk=stat.pk %}" style="color:gray"><span class="glyphicon glyphicon-remove"></span></a></td>
                                        </tr>
                                    {% endfor %}
                               
                                {% endif %}
                            </table>
        {% if type_2_statistics %}
                                <h3>{{ story.statistic_type_name_2 }}:</h3>
                            <table class="table table-condensed table-hover table-responsive">
                                    {% for stat in type_2_statistics %}
                                        <tr>
                                            <td> {{ stat.name }}</td>
                                            <td> {{ stat.value }}</td>
                                            <td><a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_statistic' pk=stat.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a> </td><td> <a class="fancybox" data-fancybox-type="iframe" href="{% url 'delete_statistic' pk=stat.pk %}" style="color:gray"><span class="glyphicon glyphicon-remove"></span></a></td>
                                        </tr>
                                    {% endfor %}
                               
                                {% endif %}
                            </table>
                        </div>
      {% endblock %}
    {% block column3 %}
    <div class="col-md-4 col-sm-4 col-lg-4" id="col1">
                            {% if type_3_statistics %}
                                <h3>{{ story.statistic_type_name_3 }}:</h3>
                            <table class="table table-condensed table-hover table-responsive">
                                    {% for stat in type_3_statistics %}
                                        <tr>
                                            <td> {{ stat.name }}</td>
                                            <td> {{ stat.value }}</td>
                                            <td><a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_statistic' pk=stat.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a> </td><td> <a class="fancybox" data-fancybox-type="iframe" href="{% url 'delete_statistic' pk=stat.pk %}" style="color:gray"><span class="glyphicon glyphicon-remove"></span></a></td>
                                        </tr>
                                    {% endfor %}
                               
                                {% endif %}
                            </table>
                            {% if type_4_statistics %}
                                <h3>{{ story.statistic_type_name_4 }}:</h3>
                            <table class="table table-condensed table-hover table-responsive">
                                    {% for stat in type_4_statistics %}
                                        <tr>
                                            <td> {{ stat.name }}</td>
                                            <td> {{ stat.value }}</td>
                                            <td><a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_statistic' pk=stat.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a> </td><td> <a class="fancybox" data-fancybox-type="iframe" href="{% url 'delete_statistic' pk=stat.pk %}" style="color:gray"><span class="glyphicon glyphicon-remove"></span></a></td>
                                        </tr>
                                    {% endfor %}
                               
                                {% endif %}
                            </table>
                        </div>
    {% endblock %}
    {% block column4 %}
        <div class="col-md-1 col-sm-1 col-lg-1" id="col1">
            <h3>Add Stat</h3>
            {% crispy form %}
            <br><br><br>
            <h4>Finished adding stats?</h4>
            <div tyle="padding-left:50px">
                <a role="button" class="btn btn-primary" href="/personas/add_skills/{{ storyobject.slug }}">I'm done. Next Step!</a>
            </div><br>
            <div tyle="padding-left:50px">
                <a role="button" class="btn btn-primary" href="/personas/storyobject/{{ storyobject.slug }}/#abilities">Take me straight<br>to my {{ storyobject.c_type }}.</a>
            </div>
        </div>
    {% endblock %}
    {% block r_content %}
        <div class="col-md-2 col-sm-0 col-lg-2">
        </div>
    {% endblock %}
{% endblock %}