{% extends "personas/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}
<header>
    <h1>Add {{ c_type }}</h1>
</header>
{% endblock %}

{% block content %}
{% block l_content %}
    <div class="col-md-1 col-sm-1 col-lg-1" id="col1">
    </div>
{% endblock %}

{% block column1 %}
    <div class="col-md-5 col-sm-5 col-lg-5" id="col1">
    <h3>Creating a {{ c_type }}</h3>
    <p>Creating your {{ c_type }} has several steps.  First, on this page, you will create the core information, including name, description and image.  When you've finished, you can click submit and you'll be taken to your {{ c_type }} pages where you can enter more information."</p><br><br>

    <div id="map" style="width: 300px; height: 300px"></div>
        
        <script type="text/javascript">
        var map = L.map('map').setView([{{ mainmap.base_latitude|floatformat:6 }}, {{ mainmap.base_longitude|floatformat:6 }}], 6);

        L.tileLayer("{{ mainmap.tiles }}", {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="http://mapbox.com">Mapbox</a>',
            id: 'examples.map-i875mjb7'
        }).addTo(map);

        var popup = L.popup();

        function onMapClick(e) {
            popup
                .setLatLng(e.latlng)
                .setContent("You clicked the map at " + e.latlng.toString())
                .openOn(map);
        }

        map.on('click', onMapClick);
        </script>

    </div>
{% endblock %}

{% block column2 %}
    <div class="col-md-5 col-sm-5 col-lg-5" id="col1">
    <h3>Create a {{ c_type }}</h3>
    {% crispy place_form %}
    <br><br><br>
    </div>
{% endblock %}

{% block r_content %}
<div class="col-md-1 col-sm-1 col-lg-1">
</div>
{% endblock %}

{% endblock %}