{% extends "personas/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
<header>
    <h1>Add Character</h1>
</header>
{% endblock %}

<div class="row">

{% block l_content %}
    <div class="col-md-2 col-sm-0 col-lg-2">
    </div>
{% endblock %}

{% block column1 %}
    <div class="col-md-4 col-sm-4 col-lg-4">
    <h3>Creating a Character</h3>
    <p>Creating your character is a three step process.  First, on this page, you will create your character's core information, including their name, description and image.  When you've finished, you can click submit and you'll be taken to the second page where you can enter your character's skills and competencies.  More about that when we get there.</p><br><br>

        <img src="{% static 'images/035.jpg' %}" alt="Cthulhu" width="100%" height="100%">
    </div>
{% endblock %}

{% block column2 %}
    <div class="col-md-4 col-sm-8 col-lg-4">
    <h3>Create a Character</h3>
    {% crispy character_form %}
    <br><br><br>
    </div>
{% endblock %}

{% block r_content %}
<div class="col-md-2 col-sm-0 col-lg-2">
</div>
{% endblock %}

</div>