{% extends "personas/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
<header>
    <h1>Add Nation to "{{ story.title }}"</h1>
</header>
{% endblock %}

<div class="row">

{% block l_content %}
    <div class="col-md-2 col-sm-0 col-lg-2">
    </div>
{% endblock %}

{% block column1 %}
    <div class="col-md-3 col-sm-4 col-lg-3" id="col1">
    <h3>Adding a Nation</h3>
    <p>Nations represent political and geographic entities.  They are often linked to organizations and locations in the story.  Each character belongs to an organization as well.</p>
    </div>
{% endblock %}

{% block column2 %}
    <div class="col-md-3 col-sm-6 col-lg-3" id="col2">
    <h3>Add a Nation</h3>
    {% crispy nation_form %}
    <br><br><br>
    </div>
{% endblock %}

{% block r_content %}
<div class="col-md-2 col-sm-0 col-lg-2">
</div>
{% endblock %}

</div>