{% extends "personas/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
<header>
    <h1>Add Location to "{{ story.title }}"</h1>
</header>
{% endblock %}

<div class="row">

{% block l_content %}
    <div class="col-md-2 col-sm-0 col-lg-2">
    </div>
{% endblock %}

{% block column1 %}
    <div class="col-md-3 col-sm-4 col-lg-3" id="col1">
    <h3>Adding a Location</h3>
    <p>Locations are the places where the action and drama in your story occurs.  It can be a mansion, a room, a geographic location or anyplace else that's appropriate to your chronicle.</p>
    </div>
{% endblock %}

{% block column2 %}
    <div class="col-md-3 col-sm-6 col-lg-3" id="col2">
    <h3>Add a Location</h3>
    {% crispy location_form %}
    <br><br><br>
    </div>
{% endblock %}

{% block r_content %}
<div class="col-md-2 col-sm-0 col-lg-2">
</div>
{% endblock %}

</div>