{% extends "personas/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}
<header>
    <h1>Add Story Object</h1>
</header>
{% endblock %}

<div class="row">

{% block l_content %}
    <div class="col-md-1 col-sm-1 col-lg-1" id="col1">
    </div>
{% endblock %}

{% block column1 %}
    <div class="col-md-5 col-sm-5 col-lg-5" id="col1">
    <h3>Creating a Story Object</h3>
    <p>Creating your story object has several steps.  First, on this page, you will create your object's core information, including its name, description and image.  When you've finished, you can click submit and you'll be taken to additional pages where you can enter more information.  If a page isn't applicable, just click the next page button or click "Take me to my Character/Organization, etc."</p><br><br>
    </div>
{% endblock %}

{% block column2 %}
    <div class="col-md-5 col-sm-5 col-lg-5" id="col1">
    <h3>Create a Story Object</h3>
    {% crispy storyobject_form %}
    <br><br><br>
    </div>
{% endblock %}

{% block r_content %}
<div class="col-md-1 col-sm-1 col-lg-1">
</div>
{% endblock %}

</div>