{% extends "personas/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
<header>
    <h1>Add Area to "{{ story.title }}"</h1>
</header>
{% endblock %}

{% block content %}
{% block l_content %}
    <div class="col-md-1 col-sm-1 col-lg-1">
    </div>
{% endblock %}

{% block column1 %}
    <div class="col-md-5 col-sm-5 col-lg-5" id="col1">
    <h3>Adding an Area</h3>
    <p>Areas represent political and geographic entities, such as Nations, City-States or broad alliances.  They are often linked to organizations and locations in the story.</p>
    </div>
{% endblock %}

{% block column2 %}
    <div class="col-md-5 col-sm-5 col-lg-5" id="col1">
    <h3>Add an Area</h3>
    {% crispy nation_form %}
    <br><br><br>
    </div>
{% endblock %}

{% block r_content %}
<div class="col-md-1 col-sm-1 col-lg-1">
</div>
{% endblock %}

{% endblock %}