{% extends "personas/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% block title %}
    <header>
        <h1>{{ storyobject }} - Adding Abilities</h1>
    </header>
{% endblock %}

{% block content %}
<div class="row">
    {% block l_content %}
        <div class="col-md-1 col-sm-1 col-lg-1">
        </div>
    {% endblock %}
    {% block column1 %}
        <div class="col-md-2 col-sm-4 col-lg-2" id="col1">
            <h3>Abilities</h3>
            <p>Abilities are special ways that your {{ storyobject.c_type }} can break the rules of a game system or do things beyond what can be captured by simple skills.</p>
            <p>Different systems capture this differently, and you could call abilities by an array of different names: powers, advantages, talents, stunts, etc.  Just use what works for you and your story.</p>
        </div>
    {% endblock %}
    {% block column2 %}
        <div class="col-md-5 col-sm-5 col-lg-5" id="col1">
            <h3>Abilities:</h3>
                                {% if abilities %}
                                
                                {% for ability in abilities %}
                                    <h4>{{ ability.name }}</h4>
                                    <li>{{ ability.description }}
                                    <a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_ability' pk=ability.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a> | <a class="fancybox" data-fancybox-type="iframe" href="{% url 'delete_ability' pk=ability.pk %}" style="color:gray"><span class="glyphicon glyphicon-remove"></span></a></li>
                                    {% endfor %}
                                {% else %}
                                        <strong>No Abilities.</strong>
                                {% endif %}
                                <br><br>
                        </div>
    {% endblock %}
    {% block column3 %}
        <div class="col-md-5 col-sm-5 col-lg-5" id="col1">
            <h3>Add Ability</h3>
            {% crispy ability_form %}
            <h4>Finished adding abilities?</h4>
            <div tyle="padding-left:50px">
            {% if storyobject.c_type == "Place" %}
                <a role="button" class="btn btn-primary" href="/personas/place/{{ storyobject.slug }}/#abilities">Take me to my <br>{{ storyobject.c_type }}.</a>
            {% else %}
                <a role="button" class="btn btn-primary" href="/personas/storyobject/{{ storyobject.slug }}/#abilities">Take me to my <br>{{ storyobject.c_type }}.</a>
            {% endif %}
            </div>
        </div>
    {% endblock %}
    {% block r_content %}
        <div class="col-md-1 col-sm-1 col-lg-1">
        </div>
    {% endblock %}
</div>
{% endblock %}