{% extends "personas/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}
<header>
    <h1>Add Story Object</h1>
</header>
{% endblock %}

<div class="row">

{% block l_content %}
    <div class="col-md-2 col-sm-0 col-lg-2" id="col1">
    </div>
{% endblock %}

{% block column1 %}
    <div class="col-md-4 col-sm-4 col-lg-4" id="col2">
    <h3>Creating a Story Object</h3>
    <p>Creating your story object is a three step process.  First, on this page, you will create your object's core information, including their name, description and image.  When you've finished, you can click submit and you'll be taken to the second page where you can enter your story_object's skills and competencies.  More about that when we get there.</p><br><br>
    </div>
{% endblock %}

{% block column2 %}
    <div class="col-md-4 col-sm-8 col-lg-4" id="col3">
    <h3>Create a Story Object</h3>
    {% crispy storyobject_form %}
    <br><br><br>
    </div>
{% endblock %}

{% block r_content %}
<div class="col-md-2 col-sm-0 col-lg-2">
</div>
{% endblock %}

</div>