{% extends "personas/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
<header>
    <h1>Create Story</h1>
</header>
{% endblock %}

<div class="row">

{% block l_content %}
    <div class="col-md-2 col-sm-0 col-lg-2">
    </div>
{% endblock %}

{% block column1 %}
    <div class="col-md-4 col-sm-4 col-lg-4">
    <h3>Creating a Story</h3>
    <p>Everything in Personas starts with a story. Complete the form on this page and when you click submit, you'll be brought to your main story page.  From there, you can add any additional information that you need.<br>
    <br>You should then create a chapter (to organize your scenes), an Area (to situate your story) and at least one location.<br><br>
    These aren't mandatory, but once you start creating story objects like characters or organizations, they are very helpful to creating the overall context within which they exist.</p><br><br>

    </div>
{% endblock %}

{% block column2 %}
    <div class="col-md-4 col-sm-8 col-lg-4">
    <h3>Create a Story</h3>
    {% crispy story_form %}
    <br><br><br>
    </div>
{% endblock %}

{% block r_content %}
<div class="col-md-2 col-sm-0 col-lg-2">
</div>
{% endblock %}

</div>