{% extends "personas/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}
    <header>
        <h1>Edit Combat Info for {{ character.name }}</h1>
    </header>
{% endblock %}

{% block content %}

{% block content_l %}
<div class="col-md-2 col-sm-2 col-lg-2" id="col1">
    </div>
{% endblock %}
{% block column1 %}
<div class="col-md-8 col-sm-8 col-lg-8" id="col1">
    {% crispy form %}
<hr>
 <a href="{% url 'delete_combat_info' pk=combat_info.pk %}" class="btn btn-danger">Delete Combat Info</a>
</div>
{% endblock %}

{% block content_r %}
<div class="col-md-2 col-sm-2 col-lg-2">
    </div>
{% endblock %}
{% endblock %}