{% extends "personas/base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% block title %}
    <header>
        <h1>Edit Story "{{ story.title }}"</h1>
    </header>
{% endblock %}

{% block content %}

{% block content_l %}
<div class="col-md-1 col-sm-1 col-lg-1" id="col1">
    </div>
{% endblock %}
{% block column1 %}
<div class="col-md-6 col-sm-6 col-lg-6" id="col1">
    {% crispy form %}

<hr>
<p>Advanced story options can be edited by selecting "Edit Story Options", below.</p>

<a role="button" class="btn btn-primary" href="{% url 'edit_storyoptions' pk=story.pk %}"> Edit Story Options  <span class="glyphicon glyphicon-cog"></span></a>
 <a href="{% url 'delete_story' pk=story.pk %}" class="btn btn-danger">Delete Story</a>
<br><br>
</div>
{% endblock %}

{% block column2 %}
<div class="col-md-4 col-sm-4 col-lg-4">
        <div class="img-responsive">
            {% thumbnail story.image "175" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% empty %}
        {% endthumbnail %}
        <p>
            Created by {{ story.author }}
        </p>
</div>
{% endblock %}


{% block content_r %}
<div class="col-md-1 col-sm-1 col-lg-1">
    </div>
{% endblock %}

{% endblock %}
