{% extends "personas/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% block title %}
    <header>
        <h1>Edit Options for "{{ story.title }}"</h1>
    </header>
{% endblock %}

{% block content %}

{% block content_l %}
<div class="col-md-1 col-sm-1 col-lg-1" id="col1">
    </div>
{% endblock %}
{% block column1 %}
<div class="col-md-6 col-sm-6 col-lg-6" id="col1">
    {% crispy form %}
</div>
{% endblock %}

{% block column2 %}
<div class="col-md-4 col-sm-4 col-lg-4">
        <div class="img-responsive">
            {% thumbnail story.image "175" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% empty %}
        {% endthumbnail %}
        <p>
            Created by {{ story.author }}
        </p>
</div>
{% endblock %}


{% block content_r %}
<div class="col-md-1 col-sm-1 col-lg-1">
    </div>
{% endblock %}

{% endblock %}
