{% extends "personas/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
<header>
    <h1>Edit "{{ main_map.name }}"</h1>
</header>
{% endblock %}

{% block content %}
<div class="row">

{% block l_content %}
    <div class="col-md-1 col-sm-1 col-lg-1">
    </div>
{% endblock %}

{% block column1 %}
    <div class="col-md-5 col-sm-5 col-lg-5" id="col1">
    <h3>Edit Map</h3>
    <p>Edit and specify your base coordinates and any templates that you want to use for the map.</p>

    <div id="map" style="width: 100%; height: 400px"></div>

    </div>
{% endblock %}

{% block column2 %}
    <div class="col-md-5 col-sm-5 col-lg-5" id="col1">
    <h3>Edit Map</h3>
    {% crispy main_map_form %}
    <br><br>
        <a href="{% url 'delete_mainmap' pk=main_map.pk %}" class="btn btn-danger">Delete Map</a>
        <br>
    </div>


{% endblock %}

{% block r_content %}
<div class="col-md-1 col-sm-1 col-lg-1">
</div>
{% endblock %}

</div>

<script type="text/javascript">
        var map = L.map('map').setView([{{ main_map.base_latitude|floatformat:6 }}, {{ main_map.base_longitude|floatformat:6 }}], {{ main_map.zoom }});

        L.tileLayer("{{ main_map.tiles }}", {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="http://mapbox.com">Mapbox</a>',
            id: 'examples.map-i875mjb7'
        }).addTo(map);

        var popup = L.popup();

        function onMapClick(e) {
            popup
                .setLatLng(e.latlng)
                .setContent("Coordinates set at " + e.latlng.toString() + " Zoom: " + map.getZoom())
                .openOn(map);

                document.getElementById("id_base_latitude").value= e.latlng.lat;
                document.getElementById("id_base_longitude").value= e.latlng.lng;
                document.getElementById("id_zoom").value= map.getZoom();
        }

        map.on('click', onMapClick);
</script>
{% endblock %}