<!DOCTYPE html>
{% extends "personas/base.html" %}
{% load django_markdown %}
{% load thumbnail %}

{% block title %}{% endblock %}
{% block navbar %}{% endblock %}

{% block content %}

<div class="row">
    {% block l_content %}
        <div class="col-md-1 col-sm-1 col-lg-1">
        </div>
    {% endblock %}

    {% block column1 %}
    <div class="col-md-10 col-sm-10 col-lg-10">

        <p>Hello <strong>{{ creator }}</strong>,</p><br>

        <p>{{note_creator}} has {{ verb }} a {{ noun }} to {{s_object}}.</p><hr>

        <h4><font color="white">{{title}}</font></h4>

        <p>{{content}}</p>
        <hr>

        <p>{{date}}</p>
        <br>

        <a href='http://story-chronicles.herokuapp.com/personas/{{so_type}}/{{slug}}'><strong>See it here.</strong></a><br>
    </div>
    {% endblock %}

{% block r_content %}
        <div class="col-md-1 col-sm-1 col-lg-1">
        </div>
{% endblock %}
</div>
{% endblock %}