{% extends "personas/base.html" %}
{% block title %}
{% load thumbnail %}
    <header id="header" class="">
        <h1>Welcome to Persona</h1>
        </header><!-- /header -->
    {% endblock %}

    {% block content %}

    {% block l_content %}
        <div class="col-md-2 col-sm-0 col-lg-2">
        </div>
    {% endblock %}
    {% block column1 %}
        <div class="col-md-8 col-sm-8 col-lg-8" id="col1">
        <h3>Active Stories</h3>
        <br>
        {% if stories %}
            {% for story in stories|dictsortreversed:"count" %}
                    <a class="btn btn-success btn-md" style="background:black" href="/personas/story/{{ story.slug }}">
                    {% thumbnail story.image "40x40" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% endthumbnail %}  {{ story.title }} - [{{ story.count }}]</a>
            {% endfor %}
        {% else %}
            <strong>There are no stories present.</strong>
            <br />
        {% endif %}
        <hr>

        <div class="span4 collapse-group">
          <h3>What is Persona?</h3>
           <p class="collapse" id="viewdetails">
            
                Persona is a social networking site for creators and their creations.  It's designed to allow an author to create a fully fleshed out story, including characters, locations, artifacts and story arcs and to clearly define the relationships between them.<br><br>
                It's also designed to facilitate the development of these stories as a community.  This could be a group of gamers who are engaging in the shared creation of a world together, or friends collaborating on a movie script who want to map out their storyline together.<br><br>
                Persona does this by allowing characters in stories to enage each other in fictional dialogues or communiques.
            <br><br>
            </p>
          <p><a class="btn btn-info" data-toggle="collapse" data-target="#viewdetails">Learn More</a></p>
        </div>
        <div class="span4 collapse-group">
            <h3>How do I start?</h3>
            <p class="collapse" id="howstart">
            <strong>Everything in Persona starts with a story</strong>.
            You can browse the public stories available on the site through the buttons to the right.<br><br>
            If you want to start creating your own stories or to create characers, locations or items in an existing story, you'll need to register using the button to the top right.<br><br>
            After registering and logging in, a story's creator can grant you access to their content or you can jump right in and create your own story!<br><br>
            </p>
          <p><a class="btn btn-info" data-toggle="collapse" data-target="#howstart">Learn More</a></p>
        </div>
        <hr>
        <a class="btn btn-primary" href="/personas/create_story/">Create a New Story!</a>   
        <hr>
        <a class="btn btn-primary" href="/personas/workshop/{{ user }}">My Workshop</a>
        <p>Your workshop is where you can access all of the content you've created and see your unpublished creations.</p>
        <!--
        <a class="btn btn-info" style="background:black" href="/personas/about">What is Persona?</a> -->


        <hr>
        <p>You can also browse existing content through our <a href="/personas/collections">collections page.</a>
    </div>
{% endblock %}
{% block r_content %}
    <div class="col-md-2 col-sm-2 col-lg-2">
    </div>
{% endblock %}

{% endblock content %}