{% extends "personas/base.html" %}
{% block title %}
{% load thumbnail %}
    <header id="header" class="">
        <h1>Welcome to Personas</h1>
        </header><!-- /header -->
    {% endblock %}
    {% block l_content %}
        <div class="col-md-2 col-sm-0 col-lg-2">
        </div>
    {% endblock %}
    {% block column1 %}
        <div class="col-md-4 col-sm-6 col-lg-4" id="col1">
            <h3>What is Persona?</h3>
            <p>
                Persona is a social networking site for creators and their creations.  It's designed to allow an author to create a fully fleshed out story, including characters, locations, artifacts and story arcs and to clearly define the relationships between them.<br><br>
                It's also designed to facilitate the development of these stories as a community.  This could be a group of gamers who are engaging in the shared creation of a world together, or friends collaborating on a movie script who want to map out their storyline together.<br><br>
                Persona does this by allowing characters in stories to enage each other in fictional dialogues or communiques.
            </p>
            <h3>How do I start?</h3>
            <p>
            <strong>Everything in Persona starts with a story</strong>.</p>
            <p>You can browse the public stories available on the site through the buttons to the right.</p>
            <p>If you want to start creating your own stories or to create characers, locations or items in an existing story, you'll need to register using the button to the top right.</p>
            <p>After registering and logging in, a story's creator can grant you access to their content or you can jump right in and create your own story!</p>
        </p>
    </div>
{% endblock %}
{% block column2 %}
    <div class="col-md-4 col-sm-6 col-lg-4" id="col1">
        <h3>Stories</h3>
        {% if stories %}
            {% for story in stories %}
                <div class="btn-group-vertical">
                    
                    <a class="btn btn-inverse" style="background:gray" href="/personas/story/{{ story.slug }}">
                    {% thumbnail story.image "40x40" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% endthumbnail %}  {{ story.title }}</a><br>
                </div>
                
            {% endfor %}
            <row>
            <hr>
            <br><br>
            </row>
        {% else %}
            <strong>There are no stories present.</strong>
            <br />
        {% endif %}
        <a class="btn btn-primary" href="/personas/create_story/">Create a New Story!</a>
        <p>You can also browse existing content through our <a href="/personas/collections">collections page.</a>
    </div>
{% endblock %}
{% block r_content %}
    <div class="col-md-2 col-sm-0 col-lg-2">
    </div>
{% endblock %}