{% extends "personas/base.html" %}
{% block title %}
{% load staticfiles %}
{% load thumbnail %}
    <header id="header" class="">
        <h1>Welcome to Persona [BETA]</h1>
        </header><!-- /header -->
    {% endblock %}

    {% block content %}

    {% block l_content %}
        <div class="col-md-2 col-sm-0 col-lg-2">
        </div>
    {% endblock %}
    {% block column1 %}
        <div class="col-md-8 col-sm-8 col-lg-8" id="col1">
        <h3>Active Stories</h3>
        <br>
        {% if stories %}
            {% for story in stories|dictsortreversed:"count" %}
                    <a class="btn btn-success btn-md" style="background:black" href="/personas/story/{{ story.slug }}">
                    {% thumbnail story.image "40x40" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% endthumbnail %}  {{ story.title }} - [{{ story.object_count }}]</a>
            {% endfor %}
        {% else %}
            <strong>There are no stories present.</strong>
            <br />
        {% endif %}
        <hr>

        <div class="span4 collapse-group">
          <h3>What is Persona?</h3>
           <p class="collapse" id="viewdetails">
            
                Persona is a social networking site for creators and their creations.  It's designed to allow an author to create a fully fleshed out story, including characters, locations, artifacts and story arcs and to clearly define the relationships between them.<br><br>
                It's also designed to facilitate the development of these stories as a community.  This could be a group of gamers who are engaging in the shared creation of a world together, or friends collaborating on a movie script who want to map out their storyline together.<br><br>
                Persona does this by allowing characters in stories to enage each other in fictional dialogues or communiques.<br><br>
                Please note that Persona is currently in open BETA and aspects of the engine are being adjusted and improved on a continual basis.  If you have any suggestions or requests, please email personas.story@gmail.com.

            <br><br>
            </p>
          <p><a class="btn btn-info" data-toggle="collapse" data-target="#viewdetails">Learn More</a></p>
        </div>
        <div class="span4 collapse-group">
            <h3>How do I start?</h3>
            <p class="collapse" id="howstart">
            <strong>Everything in Persona starts with a story</strong>.
            You can browse the public stories available on the site through the buttons to the right.<br><br>
            If you want to start creating your own stories or to create characers, locations or items in an existing story, you'll need to register using the button to the top right.<br><br>
            After registering and logging in, a story's creator can grant you access to their content or you can jump right in and create your own story!<br><br>
            </p>
          <p><a class="btn btn-info" data-toggle="collapse" data-target="#howstart">Learn More</a></p>
        </div>
        <hr>
        <a class="btn btn-primary" href="/personas/create_story/">Create a New Story!</a>   
        <hr>
        <a class="btn btn-primary" href="/personas/workshop/{{ user }}">My Workshop</a>
        <br><br>
        <p>Your workshop is where you can access all of the content you've created and see your unpublished creations.</p>
        <!--
        <a class="btn btn-info" style="background:black" href="/personas/about">What is Persona?</a> -->


        <hr>
<div class="container">
  <div class="jumbotron" style="color:white; background-color:black">
    <h3>Persona News & Updates</h3>
    <ul>
    <li>First, a warm welcome to the site's new users. It may be rough right now, but it's already great to see what you're putting together.  I've set up a public board on <a href="https://trello.com/b/Bti7kOfl/personas-development">Trello</a> if you'd like to add anything to my "to-do" list there. :)</li>
    <li>Tracked down and fixed a bug that was causing organizations and other story object types to transform into characters when edited. -- Thanks to Andy for pointing the bug out.</li>
    <li>Added the Batch Add tab under "Add Content".  This allows you to create up to 8 story objects at the same time with skeleton information.  Very useful to flesh out existing settings quickly. -- Thanks to Jeorg for the great suggestion.</li>
    </ul>
  </div>
</div>
        <hr>
        <img src="{% static 'images/heroku_django.png' %}" style="width:200px" alt="Powered by Heroku & Django"/>
    </div>
{% endblock %}
{% block r_content %}
    <div class="col-md-2 col-sm-2 col-lg-2">
    </div>
{% endblock %}

{% endblock content %}