<!DOCTYPE html>
{% extends "personas/base.html" %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}
{% block title %}
    <header>
        <h1>{{ location_name }}</h1>
    </header>
{% endblock %}
{% block l_content %}
    <div class="col-md-2 col-sm-0 col-lg-2" id="col1">
    </div>
{% endblock %}
{% block column1 %}
    <div class="col-md-4 col-sm-4 col-lg-4" id="col1">
    <div class="row" id="row1">
        <div class="image">
            <img src="{{ image.url }}" class="img-responsive" alt="Location Image" />
            <p>
                Created by {{ creator }}
            </p>
        </div>
        <div class="row">
            <h3>Description:</h3>
            {{ description }}
        </div>
        <div class="row" style="color:black">
            <script type="text/javascript">
            function map_init_basic (map, options) {
            L.marker([{{ latitude|add:"0" }}, {{ longitude|add:"0" }}], 13).addTo(map)
            .bindPopup( "{{location_name}}" ).openPopup();
            }
            var popup = L.popup();
            function onMapClick(e) {
            popup
            .setLatLng(e.latlng)
            .setContent("You clicked the map at " + e.latlng.toString())
            .openOn(map);
            }
            map.on('click', onMapClick);
            </script>
            <h3 style="color:white">Map Location:</h3><br>
                <div class="container leaflet-container" id="smallmap">
                {% leaflet_map "Britannia" callback="window.map_init_basic"%}
                </div>
        </div>
        </div>
    </div>
{% endblock %}
{% block column2 %}
    <div class="col-md-2 col-sm-4 col-lg-2" id="col2">
        <div class="row">
            <h3>Terrain:</h3>
            {{ terrain }}
        </div>
        <div class="row">
            <h3>Features:</h3>
            {{ features }}
        </div>
        <div class="row">
            <h3>Nation:</h3>
            {{ nation }}
        </div>
        <div class="row">
            <h3>Latitude:</h3>
            {{ latitude }}
        </div>
        <div class="row">
            <h3>Longitude:</h3>
            {{ longitude }}
        </div>
    </div>
{% endblock %}
{% block column3 %}
    <div class="col-md-2 col-sm-4 col-lg-2" id="col3">
        <div class="row">
            <h3>Scenes:</h3>
            {% if scenes %}
                <ul>
                    {% for scene in scenes %}
                        <li><a href="/personas/scene/{{ scene.slug }}">{{ scene }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>{{ location_name }} has no scenes.</strong>
                <br />
            {% endif %}
        </div>
        <div class="row">
            <h3>Characters:</h3>
            {% if characters %}
                <ul>
                    {% for character in characters %}
                        <div class="btn-group-vertical">
                            
                            <a class="btn btn btn-inverse" style="width:300px; height:50px; justify:center; background:black" href="/personas/character/{{ character.slug }}"><img src="{{ character.image.url }}" style="max-height:40px; float:left">  {{ character.name }}</a><br>
                        </div>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>{{ location_name }} has no characters.</strong>
                <br />
            {% endif %}
        </div>
        </div>
{% endblock column3 %}
{% block r_content %}
            <div class="col-md-2 col-sm-0 col-lg-2">
            </div>
{% endblock %}
    {% block footer %}
        <footer>
            <a href="/personas/">Main Page</a>
        </footer>
    {% endblock %}