{% extends "personas/base.html" %}
{% load leaflet_tags %}

{% block title %}
<header>
<h1>Map of {{ map_name }}</h1>
</header>
{% endblock %}

{% block content %}

{% block l_content %}
    <div class="col-md-1 col-sm-1 col-lg-1">
    </div>
{% endblock %}

{% block column1 %}
    <div class="col-md-7 col-sm-7 col-lg-7" id="col1">
    <div class="img-responsive">
        <div id="map" style="width: 900px; height: 600px"></div>
    </div>
    </div>

{% endblock %}

{% block column2 %}

    <div class="col-md-3 col-sm-3 col-lg-3" id="col1">
    <h3>Locations: </h3>
    {% for location in locations %}
        <ul>
            <li><a href="/personas/location/{{ location.slug }}">{{ location }}</a></li>
        </ul>
    {% endfor %}

    </div>
{% endblock %}

{% block r_content %}
    <div class="col-md-1 col-sm-1 col-lg-1">
    </div>
{% endblock %}

<script type="text/javascript">
        var map = L.map('map').setView([{{ base_latitude|floatformat:6 }}, {{ base_longitude|floatformat:6 }}], 6);

        L.tileLayer("{{ story.map_tile }}", {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="http://mapbox.com">Mapbox</a>',
            id: 'examples.map-i875mjb7'
        }).addTo(map);

        {% for location in locations %}
        L.marker([{{ location.latitude|floatformat:6 }}, {{ location.longitude|floatformat:6 }}], 6).addTo(map)
        .bindPopup( "{{location.name}}" ).openPopup();
        {% endfor %}

        var popup = L.popup();

        </script>

{% endblock %}