<!DOCTYPE html>
{% extends "personas/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% block title %}
    <header>
        <h1>Nation - {{ nation.name }}</h1>
    </header>
{% endblock %}
{% block content %}
{% block l_content %}
    <div class="col-md-2 col-sm-0 col-lg-2">
    </div>
{% endblock %}
{% block column1 %}
    <div class="col-md-3 col-sm-4 col-lg-3" id="col1">
            {% thumbnail nation.image "400" crop="center" as im %}
            <img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% empty %}
            <img src="{% static '/images/shadow_figure.jpg' %}" alt="">
        {% endthumbnail %}
        <div class="row">
            <h3>Story:</h3>
            <a href="/personas/story/{{ story.slug }}">{{ story }}</a>
        </div>
        <div class="row">
            <h3>Description:</h3>
            {{ nation.description }}
        </div>
        <h3>Nation Statistics</h3>
            <table class="table table-condensed table-hover table-responsive">
                <tr>
                    <td>Might</td>
                    <td>{{ nation.might }}</td>
                </tr>
                <tr>
                    <td>Intrigue</td>
                    <td>{{ nation.intrigue }}</td>
                </tr>
                <tr>
                    <td>Magic</td>
                    <td>{{ nation.magic }}</td>
                </tr>
                <tr>
                    <td>Wealth</td>
                    <td>{{ nation.wealth }}</td>
                </tr>
                <tr>
                    <td>Influence</td>
                    <td>{{ nation.influence }}</td>
                </tr>
                <tr>
                    <td>Defense</td>
                    <td>{{ nation.defense }}</td>
                </tr>
            </table>
    </div>
{% endblock %}
{% block column2 %}
    <div class="col-md-3 col-sm-4 col-lg-3" id="col1">
        <div class="row">
        <h3>Locations</h3>
        {% if locations %}
        <ul>
        {% for location in locations %}
            <li><a href="/personas/location/{{ location.slug }}">{{ location }}</a></li>
        {% endfor %}
        {% else %}
        <strong>{{ nation.name }} has no locations.</strong><br>
        {% endif %}
        <a href="/personas/add_location/{{ story.slug }}" style="color:gray">Add Location <span class="glyphicon glyphicon-pencil"></span></a>
            <hr>
            {% if user == nation.creator or user == story.author %}
            <a role="button" class="btn btn-primary" href="{% url 'edit_nation' pk=nation.pk %}">Edit Nation<span class="glyphicon glyphicon-cog"></span></a>{% else %}{% endif %}
        </div>
    </div>
{% endblock %}
{% block column3 %}
    <div class="col-md-2 col-sm-4 col-lg-2" id="col1">
        <div id="BBoard">
            <h3>Notes:</h3>
            {% if notes %}
                
                {% for note in notes %}
                    <div class="note" style="color:black">{{ note|truncatechars:256 }} <a href="{% url 'note' story_slug=story.slug pk=note.pk %}" >... Expand.</a><br>Posted by <b>{{ note.creator }}</b> on {{ note.date }}</div><br>
                {% endfor %}
                
            {% else %}
                <strong>{{ nation.name }} has no notes.</strong><br />
                <br />
            {% endif %}
            <div>
                <div>
                    <label>Add a new note:</label>
                    {% crispy form %}
                    <br><br><br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block r_content %}
    <div class="col-md-2 col-sm-0 col-lg-2">
    </div>
{% endblock %}
{% endblock content %}