{% extends 'personas/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<header>
    <h1>Register with Personas</h1>
</header>
{% endblock %}

{% block column1 %}
<div class="col-md-12 col-sm-12 col-lg-12" id="col1">
    {% if registered %}
    <strong>Thank you for registering!</strong>
    <a href="/personas/">Return to the Homepage</a>
    {% else %}

    <a class="btn btn-inverse" style="background-color:darkslategray " href="/accounts/google/login/?process=login">Google Connect</a>
    <br><br>
    OR
    <br><br>
    <strong>Register Here!</strong>

    {% crispy user_form %}

</div>
{% endif %}
{% endblock %}