{% extends "personas/base.html" %}
{% load crispy_forms_tags %}
{% load django_markdown %}

{% block title %}
    <header>
        <h1>{{ scene_title }}</h1>
    </header>
{% endblock %}

{% block l_content %}
<div class="col-md-2 col-sm-0 col-lg-2" id="col1">
</div>
{% endblock %}

{% block column1 %}
    <div class="col-md-4 col-sm-4 col-lg-3" id="col1">

    <div class="row">
        <h3>Story:</h3>
        <a href="/personas/story/{{ story.slug }}">{{ story }}</a>
        <hr>
    </div>
    <div class="row">
        <h3>Chapter:</h3>
        <a href="/personas/chapter/{{ chapter.slug }}">{{ chapter }}</a>
        <hr>
    </div>
    <div class="row">
        <h3>Description:</h3>
        {{ description }}
        <hr>
    </div>
    </div>
{% endblock %}

{% block column2 %}
    <div class="col-md-2 col-sm-4 col-lg-2" id="col2">
    <div class="row">
        <h3>Time:</h3>
        {{ time }}
        <hr>
    </div>
    <div class="row">
        <h3>Location:</h3>
        <a href="/personas/location/{{ location.slug }}">{{ location }}</a>
        <hr>
    </div>
    <div class="row">
        <h3>Characters:</h3>
        {% if characters %}
                {% for character in characters %}
                    <a class="btn btn btn-inverse" style="width:300px; height:50px; justify:center; background:black" href="/personas/character/{{ character.slug }}"><img src="{{ character.image.url }}" style="max-height:40px; float:left">  {{ character.name }}</a><br><br>
                {% endfor %}
        {% else %}
            <strong>{{ scene_title }} has no characters.</strong>
        {% endif %}
        <br>
        <a href="/personas/add_character/{{ story.slug }}" style="color:gray">Add Character <span class="glyphicon glyphicon-pencil"></span></a>
        <hr>
    </div>
    <div class="row">
    <a role="button" class="btn btn-primary" href="{% url 'edit_scene' pk=scene.pk %}">Edit Scene  <span class="glyphicon glyphicon-cog"></span></a>
    </div>
    </div>
{% endblock %}

{% block column3 %}
    <div class="col-md-3 col-sm-4 col-lg-3" id="cole">
    <div id="BBoard">
    <h3>Notes:</h3>
    {% if notes %}
        
        {% for note in notes %}
            <div class="note">{{ note|truncatechars:256 }} <a href="" >... Read more.</a> -- {{ note.date }}</div><br>
        {% endfor %}
        
    {% else %}
        <strong>{{ scene_title }} has no notes.</strong><br />
        <br />
    {% endif %}
    <div>
        <label>Add a new note:</label>
            {% crispy form %}
            <br><br><br>
    </div>
    </div>
    </div>
{% endblock %}

{% block r_content %}
<div class="col-md-3 col-sm-0 col-lg-2 col-lg-3" id="col1">
</div>
{% endblock %}
