{% extends "personas/base.html" %}
{% load crispy_forms_tags %}
{% load django_markdown %}
{% load thumbnail %}

{% block content %}

{% block title %}
    <header>
        <h1>{{ scene_title }}</h1>
    </header>
{% endblock %}

{% block column1 %}
    <div class="col-md-4 col-sm-4 col-lg-4" id="col1">

    <div class="row">
        <h3>Scene Information:</h3>
        <ul>
            <li>Story: <a href="/personas/story/{{ story.slug }}">{{ story }}</a></li>
            <li>Chapter: <a href="/personas/chapter/{{ chapter.slug }}">{{ chapter }}</a></li>
            <li>Publication Date: {{ publication_date }}</li>
            <li>Purpose: {{ purpose }}</li>
            <li>Resolution: {{ resolution }}</li>
        </ul>
        <hr>
    </div>
    <div class="row">
        <h3>Description:</h3>
        {{ description }}
        <hr>
    </div>
    </div>
{% endblock %}

{% block column2 %}
    <div class="col-md-4 col-sm-4 col-lg-4" id="col1">
    <div class="row">
        <h3>Location:</h3>
        <a href="/personas/location/{{ location.slug }}">{{ location }}</a>
        <hr>
    </div>
    <div class="row">
        <h3>Characters:</h3>
        {% if storyobjects %}
                {% for storyobject in storyobjects %}

                    <a class="btn btn-success btn-md" style="background:black" href="/personas/storyobject/{{ storyobject.slug }}">
                    {% thumbnail storyobject.image "40x40" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% endthumbnail %}   {{ storyobject.name }}</a>

                {% endfor %}
        {% else %}
            <strong>{{ scene_title }} has no characters.</strong>
        {% endif %}
        <br><br>
        <a href="/personas/add_storyobject/{{ story.slug }}" style="color:gray">Add Character <span class="glyphicon glyphicon-pencil"></span></a>
        <hr>
    </div>
    <div class="row">
    {% if user == scene.creator or user == story.author %}
    <a role="button" class="btn btn-primary" href="{% url 'edit_scene' pk=scene.pk %}">Edit Scene  <span class="glyphicon glyphicon-cog"></span></a>
    {% else %}{% endif %}
    </div>
    </div>
{% endblock %}

{% block column3 %}
    <div class="col-md-4 col-sm-4 col-lg-4" id="col1">
    <div id="BBoard">
    <h3>Notes:</h3>
    {% if notes %}
        
        {% for note in notes %}
            <div class="note" style="color:black">{{ note|truncatechars:256 }} <a href="{% url 'note' story_slug=story.slug pk=note.pk %}" >... Expand.</a><br>Posted by <b>{{ note.creator }}</b> on {{ note.date }}</div><br>
        {% endfor %}
        
    {% else %}
        <strong>{{ scene_title }} has no notes.</strong><br />
        <br />
    {% endif %}
    <div>
        <label>Add a new note:</label>
            {% crispy form %}
            <br><br><br>
    </div>
    </div>
    </div>
{% endblock %}
{% endblock content %}
