{% extends "personas/base.html" %}
{% load crispy_forms_tags %}
{% load django_markdown %}
{% load thumbnail %}


{% block title %}
    <header>
        <h1>{{ scene_title }}</h1>
    </header>
{% endblock %}

{% block content %}

<div class="container">
        
        <!-- Nav tabs -->
        <ul class="nav nav-pills nav-inverse" role="tablist" id="char_tabs">
            <li class="active">
                <a href="#details" role="tab" data-toggle="tab">
                    <icon class="fa fa-home"></icon> Details
                </a>
            </li>
            <li>
                <a href="#notes" role="tab" data-toggle="tab">
                    <i class="fa fa-cog"></i> Notes
                </a>
            </li>
    </ul>

    <div class="col-md-4 col-sm-4 col-lg-4" id="col1">

    <div class="row">
        <h3>Scene Information:</h3>
        <ul>
            <li>Story: <a href="/personas/story/{{ story.slug }}">{{ story }}</a></li>
            <li>Chapter: <a href="/personas/chapter/{{ chapter.slug }}">{{ chapter }}</a></li>
            <li>Publication Date: {{ publication_date }}</li>
            <li>Purpose: {{ purpose }}</li>
            <li>Resolution: {{ resolution }}</li>
        </ul>
        <hr>
    </div>
    <div class="row">
        <h3>Description:</h3>
        {{ description }}
        <hr>
    </div>
    </div>

<div class="tab-content">
        <!-- Start tab content for Tab 1 -->
    <div class="tab-pane fade active in" id="details">

    <div class="col-md-8 col-sm-8 col-lg-8" id="col1">
    <div class="row">
        <h3>Place:</h3>
        <a class="btn btn-success btn-sm" style="background:black" href="/personas/place/{{ place.slug }}">
        {% thumbnail place.image "30x30" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% endthumbnail %}   {{ place.name }}</a>
        <hr>
    </div>
    <div class="row">
        <h3>Characters:</h3>
        {% if storyobjects %}
            {% for storyobject in storyobjects %}
                <a class="btn btn-success btn-sm" style="background:black" href="/personas/storyobject/{{ storyobject.slug }}">
                {% thumbnail storyobject.image "30x30" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% endthumbnail %}   {{ storyobject.name }}</a>
            {% endfor %}
    {% else %}
        <strong>{{ scene_title }} has no Characters.</strong><br><br>
    {% endif %}
    <br><br>
    <a href="/personas/add_storyobject/{{ story.slug }}/Character" style="color:gray">Add Character <span class="glyphicon glyphicon-pencil"></span></a>
    <br>
    <hr>
    </div>
    <div class="row">
    {% if user == scene.creator or user == story.author %}
    <a role="button" class="btn btn-primary" href="{% url 'edit_scene' pk=scene.pk %}">Edit Scene  <span class="glyphicon glyphicon-cog"></span></a>
    {% else %}{% endif %}
    </div>
    </div>
</div> <!-- end tab1 content -->

    <div class="tab-pane fade in" id="notes"> <!-- Tab Six Starts -->
    <div class="col-md-8 col-sm-8 col-lg-8" id="col1">
    <div id="BBoard">
    <h3>Notes:</h3>
    {% if notes %}
        
        {% for note in notes %}
            <div class="note" style="color:black"><strong>{{ note.title }}</strong><br>{{ note|truncatechars:256 }} <a href="{% url 'note' story_slug=story.slug pk=note.pk %}" >... Expand.</a><br>Posted by <b>{{ note.creator }}</b> on {{ note.date }}</div><br>
        {% endfor %}
        
    {% else %}
        <strong>{{ scene_title }} has no notes.</strong><br />
        <br />
    {% endif %}
    <div>
        <label>Add a new note:</label>
            {% crispy form %}
            <br><br><br>
    </div>
    </div>
    </div>
    </div> <!-- End tab2 content -->
</div> <!-- End Container -->

{% endblock content %}
