<!DOCTYPE html>
{% extends "personas/base.html" %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% load django_markdown %}

{% block title %}
    <header>
        <h1>{{ story.title }}</h1>
    </header>
{% endblock %}
{% block content %}
    <div class="container">
        
        <!-- Nav tabs -->
        <ul class="nav nav-pills nav-inverse" role="tablist" id="char_tabs">
            <li class="active">
                <a href="#chapters" role="tab" data-toggle="tab">
                <i class="fa fa-user"></i> Chapters
            </a>
        </li>
        <li>
            <a href="#geography" role="tab" data-toggle="tab">
                <i class="fa fa-envelope"></i> Geography
            </a>
        </li>
        <li>
            <a href="#organizations" role="tab" data-toggle="tab">
                <i class="fa fa-cog"></i> Organizations
            </a>
        </li>
        <li>
            <a href="#story_objects" role="tab" data-toggle="tab">
                <i class="fa fa-cog"></i> Characters
            </a>
        </li>
        <li>
            <a href="#notes" role="tab" data-toggle="tab">
                <i class="fa fa-cog"></i> Notes
            </a>
        </li>
    </ul>
    
    {% block column1 %}
    <div class="col-md-4 col-sm-4 col-lg-4" id="col1">
                    <div class="row">
                    <br>
                        {% thumbnail image "400" crop="center" as im %}
                            <img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% empty %} 
                        {% endthumbnail %}
                        <p align="center">
                            Created by {{ author }}
                        </p>
                    <hr>
                    </div>
                    <div class="row">
                        <h3>Story Info:</h3>
                        <ul>
                            <li>Publication Date: {{ publication_date }}</li>
                            <li>Genre: {{ genre }}</li>
                            <li>Setting: {{ setting }}</li>
                            <li>Themes: {{ themes }}</li>
                        </ul>
                        <hr>
                    </div>
                    <div class="row">
                        <h3>Description:</h3>
                        {{ description }}
                        <hr>
                    </div>
                    {% if user == story.author %}
                    <a role="button" class="btn btn-primary" href="{% url 'edit_story' pk=story.pk %}">Edit Story  <span class="glyphicon glyphicon-cog"></span></a><br><br>
                    {% else %}{% endif %}
    </div>
<!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade active in" id="chapters"> <!-- Start Tab One -->
                <div class="col-md-8 col-sm-8 col-lg-8" id="col1">
                <div class="row">
                        <h3>Chapters:</h3>
                        {% if chapters %}
                            <ul>
                                {% for chapter in chapters %}
                                    <li><a href="/personas/chapter/{{ chapter.slug }}">{{ chapter }}</a></li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <strong>{{ story.title }} has no chapters.</strong>
                            <br><br>
                        {% endif %}
                        <a href="/personas/add_chapter/{{ story.slug }}" style="color:gray">Add Chapter <span class="glyphicon glyphicon-pencil"></span></a>
                </div>
                    <hr>
                    <div class="row">
                        <h3>Events:</h3>
                        {% if events %}
                                {% for storyobject in events %}
                                    <a class="btn btn-success btn-sm" style="background:black" href="/personas/storyobject/{{ storyobject.slug }}">
                                    {% thumbnail storyobject.image "30x30" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% endthumbnail %}   {{ storyobject.name }}</a>
                                {% endfor %}
                        {% else %}
                            <strong>{{ story.title }} has no Events.</strong><br>
                        {% endif %}
                        <br><br>
                        <a href="/personas/add_storyobject/{{ story.slug }}/Event" style="color:gray">Add Event <span class="glyphicon glyphicon-pencil"></span></a>
                        <hr>
                        <a role="button" class="btn btn-primary" href="{% url 'relationship_map' slug=story.slug scope='Event' %}"> Events Relationship Map   <span class="glyphicon glyphicon-fullscreen"></span></a>
                    <hr>
                    </div>
                    </div>
                    </div>

            {% endblock %}
            {% block column2 %}
            <div class="tab-pane fade in" id="organizations"> <!-- Start Tab Two -->
                <div class="col-md-8 col-sm-8 col-lg-8" id="col1">
                <div class="row">
                        <h3>Factions:</h3>
                        {% if factions %}
                                {% for storyobject in factions %}
                                    <a class="btn btn-success btn-sm" style="background:black" href="/personas/storyobject/{{ storyobject.slug }}">
                                    {% thumbnail storyobject.image "30x30" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% endthumbnail %}   {{ storyobject.name }}</a>
                                {% endfor %}
                        {% else %}
                            <strong>{{ story.title }} has no Factions.</strong><br>
                        {% endif %}
                        <br><br>
                        <a href="/personas/add_storyobject/{{ story.slug }}/Force" style="color:gray">Add Faction <span class="glyphicon glyphicon-pencil"></span></a>
                        <hr>
                </div>
                <div class="row">
                    <h3>Organizations:</h3>
                    {% if organizations %}
                            {% for storyobject in organizations %}
                                <a class="btn btn-success btn-sm" style="background:black" href="/personas/storyobject/{{ storyobject.slug }}">
                                {% thumbnail storyobject.image "30x30" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% endthumbnail %}   {{ storyobject.name }}</a>
                            {% endfor %}
                    {% else %}
                        <strong>{{ story.title }} has no Organizations.</strong><br><br>
                    {% endif %}
                    <br><br>
                    <a href="/personas/add_storyobject/{{ story.slug }}/Organization" style="color:gray">Add Organization <span class="glyphicon glyphicon-pencil"></span></a>
                    <hr>
                </div>
                        <a role="button" class="btn btn-primary" href="{% url 'relationship_map' slug=story.slug scope='Faction' %}"> Faction Relationship Map   <span class="glyphicon glyphicon-fullscreen"></span></a>
                    <hr>
                </div>
                </div> <!-- End Tab Two -->
                <div class="tab-pane fade in" id="geography"> <!-- Start Tab Three -->
                <div class="col-md-8 col-sm-8 col-lg-8" id="col1">
                    <div class="row">
                        <h3>Territories:</h3>
                        {% if territories %}
                                {% for storyobject in territories %}
                                    <a class="btn btn-success btn-sm" style="background:black" href="/personas/storyobject/{{ storyobject.slug }}">
                                    {% thumbnail storyobject.image "30x30" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% endthumbnail %}   {{ storyobject.name }}</a>
                                {% endfor %}
                        {% else %}
                            <strong>{{ story.title }} has no Territories.</strong><br>
                        {% endif %}
                        <br><br>
                        <a href="/personas/add_storyobject/{{ story.slug }}/Territory" style="color:gray">Add Territory <span class="glyphicon glyphicon-pencil"></span></a>
                        <hr>
                        <h3>Places:</h3>
                        {% if places %}
                                {% for storyobject in places %}
                                    <a class="btn btn-success btn-sm" style="background:black" href="/personas/place/{{ storyobject.slug }}">
                                    {% thumbnail storyobject.image "30x30" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% endthumbnail %}   {{ storyobject.name }}</a>
                                {% endfor %}
                        {% else %}
                            <strong>{{ story.title }} has no Places.</strong><br>
                        {% endif %}
                        <br><br>
                        <a href="/personas/add_place/{{ story.slug }}" style="color:gray">Add Place <span class="glyphicon glyphicon-pencil"></span></a>
                        <hr>
                    </div>
                    <div class="row">
                    <h3>Maps:</h3>
                        {% if mainmaps %}
                            <ul>
                                {% for mainmap in mainmaps %}
                                    <li><a href="/personas/mainmap/{{ mainmap.slug }}">{{ mainmap }}</a></li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            <strong>{{ story.title }} has no maps.</strong>
                            <br><br>
                        {% endif %}
                        <a href="/personas/add_mainmap/{{ story.slug }}" style="color:gray">Add Map <span class="glyphicon glyphicon-pencil"></span></a>
                        <hr>
                        <a role="button" class="btn btn-primary" href="{% url 'relationship_map' slug=story.slug scope='Place' %}"> Places Relationship Map   <span class="glyphicon glyphicon-fullscreen"></span></a>
                        <hr>
                    </div>
                    </div>
                    </div> <!-- End Tab Three -->
                <div class="tab-pane fade in" id="story_objects"> <!-- Start Tab Four -->
                <div class="col-md-4 col-sm-4 col-lg-4" id="col1">
                    <div class="row">
                        <h3>Characters:</h3>
                        {% if characters %}
                                {% for storyobject in characters %}
                                    <a class="btn btn-success btn-sm" style="background:black" href="/personas/storyobject/{{ storyobject.slug }}">
                                    {% thumbnail storyobject.image "30x30" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% endthumbnail %}   {{ storyobject.name }}</a>
                                {% endfor %}
                        {% else %}
                            <strong>{{ story.title }} has no Characters.</strong><br><br>
                        {% endif %}
                        <br><br>
                        <a href="/personas/add_storyobject/{{ story.slug }}/Character" style="color:gray">Add Character <span class="glyphicon glyphicon-pencil"></span></a>
                        <br><br>
                        <hr>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-lg-4" id="col1">
                    <div class="row">
                        <h3>Creatures:</h3>
                        {% if creatures %}
                                {% for storyobject in creatures %}
                                    <a class="btn btn-success btn-sm" style="background:black" href="/personas/storyobject/{{ storyobject.slug }}">
                                    {% thumbnail storyobject.image "30x30" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% endthumbnail %}   {{ storyobject.name }}</a>
                                {% endfor %}
                        {% else %}
                            <strong>{{ story.title }} has no Creatures.</strong><br><br>
                        {% endif %}
                        <br><br>
                        <a href="/personas/add_storyobject/{{ story.slug }}/Creature" style="color:gray">Add Creature <span class="glyphicon glyphicon-pencil"></span></a>
                        <br><br>
                        <hr>
                    </div>
                    <div class="row">
                        <h3>Things:</h3>
                        {% if artifacts %}
                                {% for storyobject in artifacts %}
                                    <a class="btn btn-success btn-sm" style="background:black" href="/personas/storyobject/{{ storyobject.slug }}">
                                    {% thumbnail storyobject.image "30x30" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% endthumbnail %}   {{ storyobject.name }}</a>
                                {% endfor %}
                        {% else %}
                            <strong>{{ story.title }} has no Artifacts.</strong><br><br>
                        {% endif %}
                        <br><br>
                        <a href="/personas/add_storyobject/{{ story.slug }}/Thing" style="color:gray">Add Artifact <span class="glyphicon glyphicon-pencil"></span></a>
                        <hr>
                        <a role="button" class="btn btn-primary" href="{% url 'relationship_map' slug=story.slug scope='StoryObjects' %}"> Characters Relationship Map   <span class="glyphicon glyphicon-fullscreen"></span></a>
                        <br><br>
                        <a role="button" class="btn btn-primary" href="{% url 'relationship_map' slug=story.slug scope='Story' %}"> Full Story Relationship Map   <span class="glyphicon glyphicon-fullscreen"></span></a>
                        <br><br><hr>
                    </div>
                </div>
                </div> <!-- End Tab Four -->


            {% endblock %}
            {% block column3 %}
            <div class="tab-pane fade in" id="notes"> <!-- Start Tab Five -->
                <div class="col-md-8 col-sm-8 col-lg-8" id="col1">
                    <div id="BBoard">
                        <h3>Notes:</h3>
                        {% if notes %}
                            
                            {% for note in notes %}
                                <div class="note" style="color:black"><strong>{{ note.title }}</strong><br>{{ note|truncatechars:256 }} <a href="{% url 'note' story_slug=story.slug pk=note.pk %}" >... Expand.</a><br>Posted by <b>{{ note.creator }}</b> on {{ note.date }}</div><br>
                            {% endfor %}
                            
                        {% else %}
                            <strong>{{ story.title }} has no notes.</strong><br />
                            <hr>
                        {% endif %}
                        <div>
                            <label>Add a new note:</label>
                            {% crispy form %}
                        </div>
                    </div>
                    </div>
                    </div>
                </div> <!-- End of Tab Content -->
                {% endblock %}
                </div> <!-- End of container -->
<script>
var url = document.location.toString();
if (url.match('#')) {
$('#char_tabs a[href=#'+url.split('#')[1]+']').tab('show') ;
}
// Change hash for page-reload
$('#char_tabs a').on('shown.bs.tab', function (e) {
window.location.hash = e.target.hash;
})
</script>

    {% endblock content %}