{% extends 'personas/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load django_markdown django_markdown_static %}
{% load thumbnail %}
{% block title %}
    <header>
        <h1 style="text-justify:centre">{{ storyobject_name }} <span style="color: gray">({{ role }})</span></h1>
    </header>
{% endblock %}

{% block content %}
    <div class="container">
        
        <!-- Nav tabs -->
        <ul class="nav nav-pills nav-inverse" role="tablist" id="char_tabs">
            <li class="active">
                <a href="#details" role="tab" data-toggle="tab">
                    <icon class="fa fa-home"></icon> Details
                </a>
            </li>
            {% if stats_toggle %}
                <li>
                    <a href="#abilities" role="tab" data-toggle="tab">
                        <i class="fa fa-user"></i> Stats & Abilities
                    </a>
                </li>
            {% endif %}
            {% if skill_toggle %}
                <li>
                    <a href="#skills" role="tab" data-toggle="tab">
                        <i class="fa fa-envelope"></i> Skills
                    </a>
                </li>
            {% endif %}
            {% if combat_toggle %}
                <li>
                    <a href="#combat" role="tab" data-toggle="tab">
                        <i class="fa fa-envelope"></i> Combat
                    </a>
                </li>
            {% endif %}
            {% if equipment_toggle %}
                <li>
                    <a href="#equipment" role="tab" data-toggle="tab">
                        <i class="fa fa-envelope"></i> Equipment
                    </a>
                </li>
            {% endif %}
            <li>
                <a href="#notes" role="tab" data-toggle="tab">
                    <i class="fa fa-cog"></i> Notes
                </a>
            </li>
            {% if gallery_toggle %}
                <li>
                    <a href="#images" role="tab" data-toggle="tab">
                        <i class="fa fa-cog"></i> Images
                    </a>
                </li>
            {% endif %}
            {% if social_toggle %}
                <li>
                    <a href="#social" role="tab" data-toggle="tab">
                        <i class="fa fa-cog"></i> Social
                    </a>
                </li>
            {% endif %}
    </ul>
    
    {% block column1 %}

    <div class="col-md-4 col-sm-4 col-lg-4" id="col1">
        {% if storyobject_name %}
            <br>
                {% thumbnail storyobject.image "400" crop="center" as im %}
                <img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" align="middle">{% empty %}
            {% endthumbnail %}
            <p>
                Created by {{ creator }}
            </p>
            <hr>
        <div class="row">
            <h3>Description</h3>
            <p>{{ description|markdown }}</p>
            <hr>
        </div>
    </div>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade active in" id="details">
            <div class="col-md-4 col-sm-4 col-lg-4" id="col1">
                <div class="row">
                    <h3>Details:</h3>
                    <ul>
                        <li>Type: {{ storyobject.c_type }}</li>
                        <li>Nationality/Area: {% if nationality %}<a href="/personas/nation/{{ nationality.slug }}">{{ nationality }}</a>{% else %}None{% endif %}</li>
                        <li>Location: {% if base_of_operations %}<a href="/personas/location/{{ base_of_operations.slug }}">{{ base_of_operations }}</a>{% else %} None{% endif %}</li>
                    </ul>
                    <hr>
                </div>
                <div class="row">
                    <h3>Aspects:</h3>
                    {% if aspects %}
                        <ul>
                            {% for aspect in aspects %}
                                <li>{{ aspect }}
                                    {% if user == storyobject.creator or user == story.author %}
                                    <a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_aspect' pk=aspect.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a>
                                    {% else %}{% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if user == storyobject.creator or user == story.author %}
                    <a href="/personas/add_aspect/{{ storyobject.slug }}" style="color:lightgray">Add Aspect <span class="glyphicon glyphicon-pencil"></span></a>{% else %}{% endif %}
                    <hr>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4" id="col1">
                <div class="row">
                    <h3>Relationships:</h3>
        <div class="rel-container">
        
        <!-- Nav tabs -->
            <ul class="nav nav-pills nav-inverse" role="tablist" id="rel_tabs">
                <li class="active">
                    <a href="#mine" role="tab" data-toggle="tab">
                        <icon class="fa fa-home"></icon> From {{ storyobject.name | truncatewords:3 }}
                    </a>
                </li>
                <li>
                    <a href="#others" role="tab" data-toggle="tab">
                        <i class="fa fa-user"></i> To {{ storyobject.name | truncatewords:3 }}
                    </a>
                </li>
                <li>
                    <a href="#map" role="tab" data-toggle="tab">
                        <i class="fa fa-user"></i> Map
                    </a>
                </li>
            </ul>

        <div class="tab-content">
        <div class="tab-pane fade active in" id="mine">
            <div class="row">
                    <h3>Organizational:</h3>
                    {% if my_memberships %}
                        <ul>
                            {% for relationship in my_memberships %}
                            <li>
                                {{ relationship.relationship_class }} <a href="/personas/storyobject/{{ relationship.to_storyobject.slug }}">{{ relationship.to_storyobject }}</a>
                                 ({{ relationship.relationship_description }}) - Weight: {{ relationship.weight }} |
                                {% if user == storyobject.creator or user == story.author %}
                                <a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_relationship' pk=relationship.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a>
                                {% else %}{% endif %}

                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        {{ storyobject.name }} has no organizational relationships.
                        {% endif %}
            </div>

            <div class="row">
                <h3>Personal:</h3>
                {% if my_relationships %}
                    <ul>
                        {% for relationship in my_relationships %}
                            <li>
                                {{ relationship.relationship_class }} <a href="/personas/storyobject/{{ relationship.to_storyobject.slug }}">{{ relationship.to_storyobject }}</a>
                                 ({{ relationship.relationship_description }}) - Weight: {{ relationship.weight }} |
                                {% if user == storyobject.creator or user == story.author %}
                                <a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_relationship' pk=relationship.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a>
                                {% else %}{% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        {{ storyobject.name }} has no personal relationships.
                    {% endif %}
            </div>
        </div> <!-- My Rels Tab Ends -->
        <div class="tab-pane fade in" id="others">
            <div class="row">
            <h3>Organizational:</h3>
                {% if other_memberships %}
                        <ul>
                            {% for relationship in other_memberships %}
                            <li>
                                <a href="/personas/storyobject/{{ relationship.from_storyobject.slug }}">{{ relationship.from_storyobject }}</a> - {{ relationship.relationship_class }} {{ relationship.to_storyobject }} 
                                 ({{ relationship.relationship_description }}) - Weight: {{ relationship.weight }} |
                                
                                {% if user == storyobject.creator or user == story.author %}
                                <a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_relationship' pk=relationship.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a>
                                {% else %}{% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                    {{ storyobject.name }} has no organizational relationships.
                    {% endif %}
            </div>
                
            <div class="row">
            <h3>Personal:</h3>
                {% if other_relationships %}
                    <ul>
                        {% for relationship in other_relationships %}
                            <li>

                                <a href="/personas/storyobject/{{ relationship.from_storyobject.slug }}">{{ relationship.from_storyobject }}</a> - {{ relationship.relationship_class }} {{ relationship.to_storyobject }}
                                 ({{ relationship.relationship_description }}) - Weight: {{ relationship.weight }} |
                                
                                {% if user == storyobject.creator or user == story.author %}
                                <a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_relationship' pk=relationship.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a>
                                {% else %}{% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                {{ storyobject.name }} has no personal relationships.
                {% endif %}
            </div>
        </div> <!-- Others Rels Tab Ends -->
        <div class="tab-pane fade in" id="map">
            <div class="row">
                
                        <div id="graph_frame" style="background-color:white; max-width=100%; height=400"></div>
            </div>
        </div> <!-- Map Rels Tab Ends -->
        <hr>
        <a role="button" class="btn btn-primary" href="{% url 'relationship_map' slug=storyobject.slug %}"> Full Screen Relationship Map   <span class="glyphicon glyphicon-fullscreen"></span></a>
    </div> <!-- Relationship Tab Content Ends -->
                <hr>
                {% if user == storyobject.creator or user == story.author %}
                <a href="/personas/add_relationships/{{ storyobject.slug }}" style="color:lightgray">Add Relationship <span class="glyphicon glyphicon-pencil"></span></a>
                <hr>
                {% else %}{% endif %}
                {% if user == storyobject.creator or user == story.author %}
                <a role="button" class="btn btn-primary" href="{% url 'edit_storyobject' pk=storyobject.pk %}">Edit {{ storyobject.c_type }}  <span class="glyphicon glyphicon-cog"></span></a>
                <hr>
                {% else %}{% endif %}
            </div> <!-- Container Ends -->
            </div> <!-- Row ends -->
        {% else %}
            <strong>No Story Objects exist in the database right now.</strong>
        {% endif %}
        </div> <!-- Relationships Columns End -->
        </div> <!-- Details Tab Ends -->

        {% if stats_toggle %}
        <div class="tab-pane fade in" id="abilities"> <!-- Second Tab Starts -->
        <div class="col-md-4 col-sm-4 col-lg-4" id="col1">
        <div class="row">
        <h3>Statistics</h3>
            {% if type_1_statistics %}
                <h3>{{ story.statistic_type_name_1 }}:</h3>
                <table class="table table-condensed table-hover table-responsive" style="background:black">
                    {% for stat in type_1_statistics %}
                        <tr>
                            <td> {{ stat.name }}</td>
                            <td> {{ stat.value }}</td>
                            {% if user == storyobject.creator or user == story.author %}
                            <td><a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_statistic' pk=stat.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a></td>{% else %}{% endif %}
                        </tr>
                    {% endfor %}
                    
                {% endif %}
            </table>
            {% if type_2_statistics %}
                <h3>{{ story.statistic_type_name_2 }}:</h3>
                <table class="table table-condensed table-hover table-responsive" style="background:black">
                    {% for stat in type_2_statistics %}
                        <tr>
                            <td> {{ stat.name }}</td>
                            <td> {{ stat.value }}</td>
                            {% if user == storyobject.creator or user == story.author %}
                            <td><a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_statistic' pk=stat.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a></td>{% else %}{% endif %}
                        </tr>
                    {% endfor %}
                    
                {% endif %}
            </table>
            {% if type_3_statistics %}
                <h3>{{ story.statistic_type_name_3 }}:</h3>
                <table class="table table-condensed table-hover table-responsive" style="background:black">
                    {% for stat in type_3_statistics %}
                        <tr>
                            <td> {{ stat.name }}</td>
                            <td> {{ stat.value }}</td>
                            {% if user == storyobject.creator or user == story.author %}
                            <td><a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_statistic' pk=stat.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a></td>{% else %}{% endif %}
                        </tr>
                    {% endfor %}
                    
                {% endif %}
            </table>
            {% if type_4_statistics %}
                <h3>{{ story.statistic_type_name_4 }}:</h3>
                <table class="table table-condensed table-hover table-responsive" style="background:black">
                    {% for stat in type_4_statistics %}
                        <tr>
                            <td> {{ stat.name }}</td>
                            <td> {{ stat.value }}</td>
                            {% if user == storyobject.creator or user == story.author %}
                            <td><a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_statistic' pk=stat.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a></td>{% else %}{% endif %}
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
                {% if user == storyobject.creator or user == story.author %}
                <a href="/personas/add_statistics/{{ storyobject.slug }}" style="color:lightgray">Add Stat <span class="glyphicon glyphicon-pencil"></span></a>{% else %}{% endif %}
                <hr>
        </div>
        </div>
        <div class="col-md-4 col-sm-4 col-lg-4" id="col1">
            <div class="row">
                <h3>Abilities:</h3>
                {% if abilities %}
                    <ul>
                        {% for ability in abilities %}
                            <li>
                                {{ ability }}
                                {% if user == storyobject.creator or user == story.author %}
                                <a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_ability' pk=ability.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a>{% else %}{% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if user == storyobject.creator or user == story.author %}
                    <a href="/personas/add_ability/{{ storyobject.slug }}" style="color:lightgray">Add Ability <span class="glyphicon glyphicon-pencil"></span></a>{% else %}{% endif %}
            </div>
            <hr>
        </div>
    </div>
    {% endif %} <!-- endif for stats_toggle -->
    {% if skill_toggle %}
    <div class="tab-pane fade in" id="skills">
        <div class="col-md-4 col-sm-4 col-lg-4" id="col1">
        <h3>Skills</h3>
            {% if type_1_skills %}
                <h3>{{ story.skill_type_name_1}}:</h3>
                <table class="table table-condensed table-hover table-responsive" style="background:black">
                    {% for skill in type_1_skills %}
                        <tr>
                            <td> {{ skill.name }}</td>
                            <td> {{ skill.value }}</td>
                            {% if user == storyobject.creator or user == story.author %}
                            <td><a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_skill' pk=skill.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a></td>{% else %}{% endif %}
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
            {% if type_2_skills %}
                <h3>{{ story.skill_type_name_2}}:</h3>
                <table class="table table-condensed table-hover table-responsive" style="background:black">
                    {% for skill in type_2_skills %}
                        <tr>
                            <td> {{ skill.name }}</td>
                            <td> {{ skill.value }}</td>
                            {% if user == storyobject.creator or user == story.author %}
                            <td><a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_skill' pk=skill.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a></td>{% else %}{% endif %}
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
            {% if user == storyobject.creator or user == story.author %}
                <a href="/personas/add_skills/{{ storyobject.slug }}" style="color:lightgray">Add Skill <span class="glyphicon glyphicon-pencil"></span></a>{% else %}{% endif %}
        </div>
        <div class="col-md-4 col-sm-4 col-lg-4" id="col1">
            {% if type_3_skills %}
                <h3>{{ story.skill_type_name_3}}:</h3>
                <table class="table table-condensed table-hover table-responsive" style="background:black">
                    {% for skill in type_3_skills %}
                        <tr>
                            <td> {{ skill.name }}</td>
                            <td> {{ skill.value }}</td>
                            {% if user == storyobject.creator or user == story.author %}
                            <td><a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_skill' pk=skill.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a></td>{% else %}{% endif %}
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
            {% if type_4_skills %}
                <h3>{{ story.skill_type_name_4}}:</h3>
                <table class="table table-condensed table-hover table-responsive" style="background:black">
                    {% for skill in type_4_skills %}
                        <tr>
                            <td> {{ skill.name }}</td>
                            <td> {{ skill.value }}</td>
                            {% if user == storyobject.creator or user == story.author %}
                            <td><a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_skill' pk=skill.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a></td>{% else %}{% endif %}
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
    {% endif %} <!-- endif for skill_toggle -->
    <!-- breaks fancybox if remomved "if combat_toggle" -->
    <div class="tab-pane fade in" id="combat"> <!-- Tab Four Starts -->
        <div class="col-md-8 col-sm-8 col-lg-8" id="col1">
            <h3>Combat Info:</h3>
            {% if combat_info %}
            <table class="table table-condensed table-hover table-responsive" style="background:black">
                {% for element in combat_info %}
                    <tr>
                        <td> {{ element.title }}</td>
                        <td> {{ element.data }}</td>
                        {% if user == storyobject.creator or user == story.author %}
                        <td><a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_combat_info' pk=element.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a></td>{% else %}{% endif %}
                    </tr>
                {% endfor %}
            </table>
                {% endif %}
            {% if user == storyobject.creator or user == story.author %}
                <a href="/personas/add_combat_info/{{ storyobject.slug }}" style="color:lightgray">Add Combat Info <span class="glyphicon glyphicon-pencil"></span></a>{% else %}{% endif %}
            <hr>
            <h3>Scratchpad:</h3>
            {% if user == storyobject.creator or user == story.author %}
                {% crispy scratchpadform %}
                {% else %}
                    {{ scratchpad }}
                {% endif %}         
        </div>
    </div>  <!-- end of Tab Three -->


<div class="tab-pane fade in" id="equipment"> <!-- Tab Five Starts -->
        <div class="col-md-8 col-sm-8 col-lg-8" id="col1">
            <h3>Equipment:</h3>
            {% if user == storyobject.creator or user == story.author %}
                {% crispy equipmentform %}
                {% else %}
                    {{ equipment }}
                {% endif %}         
        </div>
</div>  <!-- end of Tab Five -->
<div class="tab-pane fade in" id="notes"> <!-- Tab Six Starts -->
<div class="col-md-8 col-sm-8" id="BBoard">
    <h3>Notes:</h3>
    {% if notes %}
        {% for note in notes %}
            <div class="note" style="color:black"><strong>{{ note.title }}</strong><br>{{ note|truncatechars:256 }} <a href="{% url 'note' story_slug=story.slug pk=note.pk %}" >... Expand.</a><br>Posted by <b>{{ note.creator }}</b> on {{ note.date }}</div><br>
        {% endfor %}
    {% else %}
        <strong>{{ storyobject_name }} has no notes.</strong><br />
        <br />
    {% endif %}
    <div>
        <label>Add a new note:</label>
            {% crispy noteform %}
    </div>
</div>
</div> <!-- End of Tab Six -->
{% if gallery_toggle %}
<div class="tab-pane fade in" id="images"> <!-- Tab Seven Starts -->
<div class="col-md-8 col-sm-8" id="col1">
<h3>Images:</h3>
{% if gallery_images %}
    {% for g_image in gallery_images %}
            {% thumbnail g_image.image "150x150" crop="center" as im %}

            <a class="fancybox" rel="gallery1" href="{{ g_image.image.url }}" title="{{ g_image.title }}">
                <img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            </a>
        {% endthumbnail %}
        <p>{{ g_image.title }}</p>
{% endfor %}
{% else %}
<strong>{{ storyobject_name }} has no images.</strong><br />
<br />
{% endif %}
<hr>
{% if user == storyobject.creator or user == story.author %}
    <a role="button" class="btn btn-primary" href="{% url 'add_gallery_image' storyobject_slug=storyobject.slug %}">Add Gallery Image   <span class="glyphicon glyphicon-cog"></span></a>
{% else %}{% endif %}
</div>
</div> <!-- End of Tab Five -->
{% endif %} <!-- endif for gallery_toggle -->
{% if social_toggle %}
<div class="tab-pane fade in" id="social"> <!-- Tab Six Starts -->
<div class="col-md-8 col-sm-8" id="BBoard">
<div class="row">
<h3>Communiques:</h3>
{% if communiques %}
{% for communique in communiques %}
    <div class="note">{{ communique }} -- {{ communique.date }}</div><br>
{% endfor %}
{% else %}
<strong>{{ storyobject_name }} has no messages.</strong><br />
<br />
{% endif %}
{% if user == storyobject.creator or user == story.author %}
<label>Send a message from {{ storyobject_name }}:</label>
<form class="uniForm" method="post">
    {% crispy communique_form %}
    {% else %}{% endif %}
</form>
<br><br><br>
</div>
</div>
</div> <!-- Tab six Ends -->
{% endif %} <!-- endif for social_toggle -->
</div> <!-- Tab Content Ends -->
<br><br>
{% endblock column1 %}
</div> <!-- Container content ends -->

<script>
var url = document.location.toString();
if (url.match('#')) {
$('#char_tabs a[href=#'+url.split('#')[1]+']').tab('show') ;
}
// Change hash for page-reload
$('#char_tabs a').on('shown.bs.tab', function (e) {
window.location.hash = e.target.hash;
})
</script>

<script type="text/javascript">

    var w = 400;
    var h = 400;
    var linkDistance=150;
    var minRadius = 10;
    var maxRadius = 20;
    var scale = d3.scale.linear().range([minRadius,maxRadius]);

    var colors = d3.scale.category10()
      .domain(['r', 'b', 'g', 'c', 'y']);

    var dataset = {{ result|safe }};
 
    var svg = d3.select("#graph_frame")
        .append("svg")
        .attr({"width":w,"height":h});

    var force = d3.layout.force()
        .nodes(dataset.nodes)
        .links(dataset.links)
        .size([w,h])
        .linkDistance([linkDistance])
        .charge([-500])
        .theta(0.1)
        .gravity(0.05)
        .start();

    var edges = svg.selectAll("line")
      .data(dataset.links)
      .enter()
      .append("line")
      .attr("id",function(d,i) {return 'edge'+i})
      .attr('marker-end','url(#arrowhead)')
      .style("stroke","#ccc")
      .style("pointer-events", "none");
    
    var nodes = svg.selectAll("circle")
      .data(dataset.nodes)
      .enter().append("svg:a")
      .attr("xlink:href", function(d){return d.url;})
      .append("circle")
      .attr("r", function(d) { 
        if(d.children)
            return scale(d.children.length);
        else if(d._children)
            return scale(d._children.length);
        else
            return minRadius;
    })
      .style("fill",function(d,i){return colors(d.node_color);})
      .call(force.drag)
      .on("mouseover", fade(.1))
      .on("mouseout", fade(1));

    var linkedByIndex = {};
    dataset.links.forEach(function(d) {
        linkedByIndex[d.source.index + "," + d.target.index] = 1;
    });

    function isConnected(a, b) {
        return linkedByIndex[a.index + "," + b.index] || linkedByIndex[b.index + "," + a.index] || a.index == b.index;
    }

    var nodelabels = svg.selectAll(".nodelabel") 
       .data(dataset.nodes)
       .enter()
       .append("text")
       .attr({"x":function(d){return d.x;},
              "y":function(d){return d.y;},
              "class":"nodelabel",
              "stroke":"black"})
       .text(function(d){return d.id;});

    var edgepaths = svg.selectAll(".edgepath")
        .data(dataset.links)
        .enter()
        .append('path')
        .attr({'d': function(d) {return 'M '+d.source.x+' '+d.source.y+' L '+ d.target.x +' '+d.target.y},
               'class':'edgepath',
               'fill-opacity':0,
               'stroke-opacity':0,
               'fill':'blue',
               'stroke':'red',
               'id':function(d,i) {return 'edgepath'+i}})
        .style("pointer-events", "none");

    var edgelabels = svg.selectAll(".edgelabel")
        .data(dataset.links)
        .enter()
        .append('text')
        .style("pointer-events", "none")
        .attr({'class':'edgelabel',
               'id':function(d,i){return 'edgelabel'+i},
               'dx':80,
               'dy':-5,
               'font-size':10,
               'opacity':1,
               'fill':'#aaa'});

    edgelabels.append('textPath')
        .attr('xlink:href',function(d,i) {return '#edgepath'+i})
        .style("pointer-events", "none")
        .text(function(d){return d.label});


    svg.append('defs').append('marker')
        .attr({'id':'arrowhead',
               'viewBox':'-0 -5 10 10',
               'refX':25,
               'refY':0,
               //'markerUnits':'strokeWidth',
               'orient':'auto',
               'markerWidth':10,
               'markerHeight':10,
               'xoverflow':'visible'})
        .append('svg:path')
            .attr('d', 'M 0,-5 L 10 ,0 L 0,5')
            .attr('fill', '#ccc')
            .attr('stroke','#ccc');
            

    force.on("tick", function(){

        edges.attr({"x1": function(d){return d.source.x;},
                    "y1": function(d){return d.source.y;},
                    "x2": function(d){return d.target.x;},
                    "y2": function(d){return d.target.y;}
        });

        nodes.attr({"cx":function(d){return d.x;},
                    "cy":function(d){return d.y;}
        });

        nodelabels.attr("x", function(d) { return d.x; }) 
                  .attr("y", function(d) { return d.y; });

        edgepaths.attr('d', function(d) { var path='M '+d.source.x+' '+d.source.y+' L '+ d.target.x +' '+d.target.y;
                                           //console.log(d)
                                           return path});       

        edgelabels.attr('transform',function(d,i){
            if (d.target.x<d.source.x){
                bbox = this.getBBox();
                rx = bbox.x+bbox.width/2;
                ry = bbox.y+bbox.height/2;
                return 'rotate(180 '+rx+' '+ry+')';
                }
            else {
                return 'rotate(0)';
                }
        });

    });

function fade(opacity) {
        return function(d) {
            nodes.style("stroke-opacity", function(o) {
                thisOpacity = isConnected(d, o) ? 1 : opacity;
                this.setAttribute('fill-opacity', thisOpacity);
                return thisOpacity;
            });

            nodelabels.style("stroke-opacity", function(o) {
                thisOpacity = isConnected(d, o) ? 1 : opacity;
                this.setAttribute('fill-opacity', thisOpacity);
                return thisOpacity;
            });

            edges.style("stroke-opacity", function(o) {
                return o.source === d || o.target === d ? 1 : opacity;
            });

            edgelabels.style("opacity", function(o) {
                return o.source === d || o.target === d ? 1 : opacity;
            });
        };
      };

</script>


{% endblock content %}