{% extends 'personas/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% block title %}
    <header>
        <h1 style="text-justify:centre">{{ storyobject_name }} <span style="color: gray">({{ c_type }})</span></h1>
    </header>
{% endblock %}
{% block content %}
    <div class="container">
        
        <!-- Nav tabs -->
        <ul class="nav nav-pills nav-inverse" role="tablist" id="char_tabs">
            <li class="active">
                <a href="#details" role="tab" data-toggle="tab">
                    <icon class="fa fa-home"></icon> Details
                </a>
            </li>
            {% if stats_toggle %}
                <li>
                    <a href="#abilities" role="tab" data-toggle="tab">
                        <i class="fa fa-user"></i> Stats & Abilities
                    </a>
                </li>
            {% endif %}
            {% if skill_toggle %}
                <li>
                    <a href="#skills" role="tab" data-toggle="tab">
                        <i class="fa fa-envelope"></i> Skills
                    </a>
                </li>
            {% endif %}
            {% if combat_toggle %}
                <li>
                    <a href="#combat" role="tab" data-toggle="tab">
                        <i class="fa fa-envelope"></i> Combat
                    </a>
                </li>
            {% endif %}
            <li>
                <a href="#notes" role="tab" data-toggle="tab">
                    <i class="fa fa-cog"></i> Notes
                </a>
            </li>
            {% if gallery_toggle %}
                <li>
                    <a href="#images" role="tab" data-toggle="tab">
                        <i class="fa fa-cog"></i> Images
                    </a>
                </li>
            {% endif %}
            {% if social_toggle %}
                <li>
                    <a href="#social" role="tab" data-toggle="tab">
                        <i class="fa fa-cog"></i> Social
                    </a>
                </li>
            {% endif %}
    </ul>
    
    {% block column1 %}

    <div class="col-md-4 col-sm-4 col-lg-4" id="col1">
        {% if storyobject_name %}
            <br>
                {% thumbnail image "400" crop="center" as im %}
                <img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" align="middle">{% empty %}
                <img src="{% static '/images/shadow_figure.jpg' %}" alt="">
            {% endthumbnail %}
            <p>
                Created by {{ creator }}
            </p>
            <hr>
        <div class="row">
            <h3>Description</h3>
            <p>{{ description }}</p>
        </div>
    </div>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade active in" id="details">
            <div class="col-md-4 col-sm-4 col-lg-4" id="col1">
                <div class="row">
                    <h3>Details:</h3>
                    <ul>
                        <li>Role: {{ role }}</li>
                        <li>Nationality/Tribe: {% if nationality %}<a href="/personas/nation/{{ nationality.slug }}">{{ nationality }}</a>{% else %}None{% endif %}</li>
                        <li>Location: {% if base_of_operations %}<a href="/personas/location/{{ base_of_operations.slug }}">{{ base_of_operations }}</a>{% else %} None{% endif %}</li>
                    </ul>
                    <hr>
                </div>
                <div class="row">
                    <h3>Aspects:</h3>
                    {% if aspects %}
                        <ul>
                            {% for aspect in aspects %}
                                <li>{{ aspect }}
                                    {% if user == storyobject.creator or user == story.author %}
                                    <a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_aspect' pk=aspect.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a>
                                    {% else %}{% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if user == storyobject.creator or user == story.author %}
                    <a href="/personas/add_aspect/{{ storyobject.slug }}" style="color:lightgray">Add Aspect <span class="glyphicon glyphicon-pencil"></span></a>{% else %}{% endif %}
                    <hr>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4" id="col1">
                <div class="row">
                    <h3>Memberships:</h3>
                    {% if memberships %}
                        <ul>
                            {% for membership in memberships %}
                                <li><a href="/personas/organization/{{ membership.organization.slug }}">{{ membership.organization }}</a> - Rank {{ membership.rank }} - ({{ membership.role }}) | 
                                {% if user == storyobject.creator or user == story.author %}
                                <a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_membership' pk=membership.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a>
                                {% else %}{% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if user == storyobject.creator or user == story.author %}
                    <a href="/personas/add_membership/{{ storyobject.slug }}" style="color:lightgray">Add Membership <span class="glyphicon glyphicon-pencil"></span></a>{% else %}{% endif %}
                    <hr>
                </div>
                <div class="row">
                <h3>Relationships:</h3>
                {% if relationships %}
                    <ul>
                        {% for relationship in relationships %}
                            <li>
                                 <a href="/personas/storyobject/{{ relationship.from_storyobject.slug }}">{{ relationship.from_storyobject }}</a> >> {{ relationship.relationship_class }} >> <a href="/personas/storyobject/{{ relationship.to_storyobject.slug }}">{{ relationship.to_storyobject }}</a>
                                 ({{ relationship.relationship_description }}: {{ relationship.weight }}) |
                                {% if user == storyobject.creator or user == story.author %}
                                <a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_relationship' pk=relationship.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a>
                                {% else %}{% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if user == storyobject.creator or user == story.author %}
                <a href="/personas/add_relationships/{{ storyobject.slug }}" style="color:lightgray">Add Relationship <span class="glyphicon glyphicon-pencil"></span></a>
                {% else %}{% endif %}
                <hr>
                {% if user == storyobject.creator or user == story.author %}
                <a role="button" class="btn btn-primary" href="{% url 'edit_storyobject' pk=storyobject.pk %}">Edit Character  <span class="glyphicon glyphicon-cog"></span></a>
                {% else %}{% endif %}
                </div>
            </div>
        {% else %}
            <strong>No Story Objects exist in the database right now.</strong>
        {% endif %}
        </div> <!-- First Tab Ends -->
        {% if stats_toggle %}
        <div class="tab-pane fade in" id="abilities"> <!-- Second Tab Starts -->
        <div class="col-md-4 col-sm-4 col-lg-4" id="col1">
        <h3>Statistics</h3>
            {% if type_1_statistics %}
                <h3>{{ story.statistic_type_name_1 }}:</h3>
                <table class="table table-condensed table-hover table-responsive" style="background:black">
                    {% for stat in type_1_statistics %}
                        <tr>
                            <td> {{ stat.name }}</td>
                            <td> {{ stat.value }}</td>
                            {% if user == storyobject.creator or user == story.author %}
                            <td><a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_statistic' pk=stat.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a></td>{% else %}{% endif %}
                        </tr>
                    {% endfor %}
                    
                {% endif %}
            </table>
            {% if type_2_statistics %}
                <h3>{{ story.statistic_type_name_2 }}:</h3>
                <table class="table table-condensed table-hover table-responsive" style="background:black">
                    {% for stat in type_2_statistics %}
                        <tr>
                            <td> {{ stat.name }}</td>
                            <td> {{ stat.value }}</td>
                            {% if user == storyobject.creator or user == story.author %}
                            <td><a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_statistic' pk=stat.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a></td>{% else %}{% endif %}
                        </tr>
                    {% endfor %}
                    
                {% endif %}
            </table>
            {% if type_3_statistics %}
                <h3>{{ story.statistic_type_name_3 }}:</h3>
                <table class="table table-condensed table-hover table-responsive" style="background:black">
                    {% for stat in type_3_statistics %}
                        <tr>
                            <td> {{ stat.name }}</td>
                            <td> {{ stat.value }}</td>
                            {% if user == storyobject.creator or user == story.author %}
                            <td><a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_statistic' pk=stat.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a></td>{% else %}{% endif %}
                        </tr>
                    {% endfor %}
                    
                {% endif %}
            </table>
            {% if type_4_statistics %}
                <h3>{{ story.statistic_type_name_4 }}:</h3>
                <table class="table table-condensed table-hover table-responsive" style="background:black">
                    {% for stat in type_4_statistics %}
                        <tr>
                            <td> {{ stat.name }}</td>
                            <td> {{ stat.value }}</td>
                            {% if user == storyobject.creator or user == story.author %}
                            <td><a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_statistic' pk=stat.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a></td>{% else %}{% endif %}
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
                {% if user == storyobject.creator or user == story.author %}
                <a href="/personas/add_statistics/{{ storyobject.slug }}" style="color:lightgray">Add Stat <span class="glyphicon glyphicon-pencil"></span></a>{% else %}{% endif %}
        </div>
        <div class="col-md-4 col-sm-4 col-lg-4" id="col1">
            <div class="row">
                <h3>Abilities:</h3>
                {% if abilities %}
                    <ul>
                        {% for ability in abilities %}
                            <li>
                                {{ ability }}
                                {% if user == storyobject.creator or user == story.author %}
                                <a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_ability' pk=ability.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a>{% else %}{% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if user == storyobject.creator or user == story.author %}
                    <a href="/personas/add_ability/{{ storyobject.slug }}" style="color:lightgray">Add Ability <span class="glyphicon glyphicon-pencil"></span></a>{% else %}{% endif %}
            </div>
            <hr>
            
            <div class="row">
                <h3>Artifacts:</h3>
                {% if artifacts %}
                    <ul>
                        {% for artifact in artifacts %}
                            <li><a href="/personas/artifact/{{ artifact.slug }}">  {{ artifact.name }}</a>: {{ artifact.description }}
                            {% if user == storyobject.creator or user == story.author %}
                            <a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_artifact' pk=artifact.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a>{% else %}{% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if user == storyobject.creator or user == story.author %}
                <a href="/personas/add_artifact/{{ storyobject.slug }}" style="color:lightgray">Add Artifact <span class="glyphicon glyphicon-pencil"></span></a>{% else %}{% endif %}
            </div>
            <hr>
        </div>
    </div>
    {% endif %} <!-- endif for stats_toggle -->
    {% if skill_toggle %}
    <div class="tab-pane fade in" id="skills">
        <div class="col-md-4 col-sm-4 col-lg-4" id="col1">
        <h3>Skills</h3>
            {% if type_1_skills %}
                <h3>{{ story.skill_type_name_1}}:</h3>
                <table class="table table-condensed table-hover table-responsive" style="background:black">
                    {% for skill in type_1_skills %}
                        <tr>
                            <td> {{ skill.name }}</td>
                            <td> {{ skill.value }}</td>
                            {% if user == storyobject.creator or user == story.author %}
                            <td><a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_skill' pk=skill.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a></td>{% else %}{% endif %}
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
            {% if type_2_skills %}
                <h3>{{ story.skill_type_name_2}}:</h3>
                <table class="table table-condensed table-hover table-responsive" style="background:black">
                    {% for skill in type_2_skills %}
                        <tr>
                            <td> {{ skill.name }}</td>
                            <td> {{ skill.value }}</td>
                            {% if user == storyobject.creator or user == story.author %}
                            <td><a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_skill' pk=skill.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a></td>{% else %}{% endif %}
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
            {% if user == storyobject.creator or user == story.author %}
                <a href="/personas/add_skills/{{ storyobject.slug }}" style="color:lightgray">Add Skill <span class="glyphicon glyphicon-pencil"></span></a>{% else %}{% endif %}
        </div>
        <div class="col-md-4 col-sm-4 col-lg-4" id="col1">
            {% if type_3_skills %}
                <h3>{{ story.skill_type_name_3}}:</h3>
                <table class="table table-condensed table-hover table-responsive" style="background:black">
                    {% for skill in type_3_skills %}
                        <tr>
                            <td> {{ skill.name }}</td>
                            <td> {{ skill.value }}</td>
                            {% if user == storyobject.creator or user == story.author %}
                            <td><a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_skill' pk=skill.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a></td>{% else %}{% endif %}
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
            {% if type_4_skills %}
                <h3>{{ story.skill_type_name_4}}:</h3>
                <table class="table table-condensed table-hover table-responsive" style="background:black">
                    {% for skill in type_4_skills %}
                        <tr>
                            <td> {{ skill.name }}</td>
                            <td> {{ skill.value }}</td>
                            {% if user == storyobject.creator or user == story.author %}
                            <td><a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_skill' pk=skill.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a></td>{% else %}{% endif %}
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
    {% endif %} <!-- endif for skill_toggle -->
    <!-- breaks fancybox if remomved "if combat_toggle" -->
    <div class="tab-pane fade in" id="combat"> <!-- Tab Four Starts -->
        <div class="col-md-8 col-sm-8 col-lg-8" id="col1">
            <h3>Combat Info:</h3>
            {% if combat_info %}
            <table class="table table-condensed table-hover table-responsive" style="background:black">
                {% for element in combat_info %}
                    <tr>
                        <td> {{ element.title }}</td>
                        <td> {{ element.data }}</td>
                        {% if user == storyobject.creator or user == story.author %}
                        <td><a class="fancybox" data-fancybox-type="iframe" href="{% url 'edit_combat_info' pk=element.pk %}" style="color:gray"><span class="glyphicon glyphicon-cog"></span></a></td>{% else %}{% endif %}
                    </tr>
                {% endfor %}
            </table>
                {% endif %}
            {% if user == storyobject.creator or user == story.author %}
                <a href="/personas/add_combat_info/{{ storyobject.slug }}" style="color:lightgray">Add Combat Info <span class="glyphicon glyphicon-pencil"></span></a>{% else %}{% endif %}
            <hr>
            <h3>Scratchpad:</h3>
            {% if user == storyobject.creator or user == story.author %}
                {% crispy scratchpadform %}
                {% else %}
                    {{ scratchpad }}
                {% endif %}         
        </div>
    </div>
    <!-- breaks fancybox if removed "endif" for combat_toggle -->
<div class="tab-pane fade in" id="notes"> <!-- Tab Four Starts -->
<div class="col-md-8 col-sm-8" id="BBoard">
    <h3>Notes:</h3>
    {% if notes %}
        {% for note in notes %}
            <div class="note" style="color:black">{{ note|truncatechars:256 }} <a href="{% url 'note' story_slug=story.slug pk=note.pk %}" >... Expand.</a><br>Posted by <b>{{ note.creator }}</b> on {{ note.date }}</div><br>
        {% endfor %}
    {% else %}
        <strong>{{ storyobject_name }} has no notes.</strong><br />
        <br />
    {% endif %}
    <div>
        <label>Add a new note:</label>
            {% crispy noteform %}
    </div>
</div>
</div> <!-- End of Tab Four -->
{% if gallery_toggle %}
<div class="tab-pane fade in" id="images"> <!-- Tab Five Starts -->
<div class="col-md-8 col-sm-8" id="col1">
<h3>Images:</h3>
{% if gallery_images %}
    {% for g_image in gallery_images %}
            {% thumbnail g_image.image "300x300" crop="center" as im %}
            <img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
        <p>{{ g_image.title }}</p>
{% endfor %}
{% else %}
<strong>{{ storyobject_name }} has no images.</strong><br />
<br />
{% endif %}
<hr>
{% if user == storyobject.creator or user == story.author %}
    <a role="button" class="btn btn-primary" href="{% url 'add_gallery_image' storyobject_slug=storyobject.slug %}">Add Gallery Image   <span class="glyphicon glyphicon-cog"></span></a>
{% else %}{% endif %}
</div>
</div> <!-- End of Tab Five -->
{% endif %} <!-- endif for gallery_toggle -->
{% if social_toggle %}
<div class="tab-pane fade in" id="social"> <!-- Tab Six Starts -->
<div class="col-md-8 col-sm-8" id="BBoard">
<div class="row">
<h3>Communiques:</h3>
{% if communiques %}
{% for communique in communiques %}
    <div class="note">{{ communique }} -- {{ communique.date }}</div><br>
{% endfor %}
{% else %}
<strong>{{ storyobject_name }} has no messages.</strong><br />
<br />
{% endif %}
{% if user == storyobject.creator or user == story.author %}
<label>Send a message from {{ storyobject_name }}:</label>
<form class="uniForm" method="post">
    {% crispy communique_form %}
    {% else %}{% endif %}
</form>
<br><br><br>
</div>
</div>
</div> <!-- Tab six Ends -->
{% endif %} <!-- endif for social_toggle -->
</div> <!-- Tab Content Ends -->
{% endblock column1 %}
</div> <!-- Container content ends -->

<script>
var url = document.location.toString();
if (url.match('#')) {
$('#char_tabs a[href=#'+url.split('#')[1]+']').tab('show') ;
}
// Change hash for page-reload
$('#char_tabs a').on('shown.bs.tab', function (e) {
window.location.hash = e.target.hash;
})
</script>
{% endblock content %}