<!DOCTYPE html>
{% extends "personas/base.html" %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% load django_markdown %}

{% block title %}
    <header>
        <h1>{{ user|title }}'s Workshop</h1>
    </header>
{% endblock %}
{% block content %}
    <div class="container">
        
        <!-- Nav tabs -->
        <ul class="nav nav-pills nav-inverse" role="tablist" id="char_tabs">
            <li class="active">
                <a href="#stories" role="tab" data-toggle="tab">
                <i class="fa fa-user"></i> Stories
            </a>
        </li>
        <li>
            <a href="#chapters" role="tab" data-toggle="tab">
                <i class="fa fa-envelope"></i> Chapters & Scenes
            </a>
        </li>
        <li>
            <a href="#geography" role="tab" data-toggle="tab">
                <i class="fa fa-envelope"></i> Geography
            </a>
        </li>
        <li>
            <a href="#political" role="tab" data-toggle="tab">
                <i class="fa fa-cog"></i> Political
            </a>
        </li>
        <li>
            <a href="#characters" role="tab" data-toggle="tab">
                <i class="fa fa-cog"></i> Characters
            </a>
        </li>
        <li>
            <a href="#creatures" role="tab" data-toggle="tab">
                <i class="fa fa-cog"></i> Creatures & Things
            </a>
        </li>
    </ul>
    
    {% block column1 %}
    <div class="col-md-4 col-sm-4 col-lg-4" id="col1">
                    <div class="row">
                    <h3>{{ user }}</h3>
                    <p>The Workshop is used to access and edit your non-published material. <br><br> Everything defaults to published, but if you de-select the Published toggle in the item creation page, it won't appear anywhere on the site except for here in your workshop. <br><br><strong>This includes search.</strong></p>
                    <br>
                    <p>You can edit your published items directly from your story.</p>
                    </div>
    </div>
<!-- Tab panes -->
        <div class="tab-content">
        <div class="tab-pane fade active in" id="stories"> <!-- Start Tab One -->
                <div class="col-md-8 col-sm-8 col-lg-8" id="col1">
                <div class="row">
                        <h3>Unpublished Stories:</h3>
                        {% if unpublished_stories %}
                                {% for story in unpublished_stories %}
                                    <a class="btn btn-success btn-sm" style="background:black" href="/personas/story/{{ story.slug }}">
                                    {% thumbnail story.image "30x30" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% endthumbnail %}   {{ story }}</a>
                                {% endfor %}
                        {% else %}
                            <strong>No unpublished stories.</strong>
                            <br><br>
                        {% endif %}
                        <hr>

                        <a href="/personas/add_story" style="color:gray">Add Story <span class="glyphicon glyphicon-pencil"></span></a>
                        <hr>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade in" id="chapters"> <!-- Start Tab One -->
                <div class="col-md-4 col-sm-4 col-lg-4" id="col1">
                <div class="row">
                        <h3>Unpublished Chapters</h3>
                        {% if unpublished_chapters %}
                            <ul>
                                {% for chapter in unpublished_chapters %}
                                    <li><a href="/personas/chapter/{{ chapter.slug }}">{{ chapter }}</a></li>
                                    {{ chapter.story }}
                                {% endfor %}
                            </ul>
                        {% else %}
                            <strong>No unpublished chapters.</strong>
                            <br><br>
                        {% endif %}

                        <hr>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-lg-4" id="col1">
                <div class="row">
                        <h3>Unpublished Scenes</h3>
                        {% if unpublished_scenes %}
                            <ul>
                                {% for scene in unpublished_scenes %}
                                    <li><a href="/personas/scene/{{ scene.slug }}">{{ scene }}</a></li>
                                    <span color="grey">{{scene.chapter.story }} - Chapter {{ scene.chapter }}</span>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <strong>No unpublished scenes.</strong>
                            <br><br>
                        {% endif %}

                        <hr>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade in" id="geography"> <!-- Start Tab One -->

                <div class="col-md-8 col-sm-8 col-lg-8" id="col1">
                <div class="row">
                        <h3>Unpublished Places:</h3>
                        {% if unpublished_places %}
                                {% for place in unpublished_places %}
                                    <a class="btn btn-success btn-sm" style="background:black" href="/personas/place/{{ place.slug }}">
                                    {% thumbnail place.image "30x30" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% endthumbnail %}   {{ place }}</a>
                                {% endfor %}
                        {% else %}
                            <strong>No unpublished places.</strong>
                            <br><br>
                        {% endif %}

                        <hr>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade in" id="political"> <!-- Start Tab One -->
                <div class="col-md-4 col-sm-4 col-lg-4" id="col1">
                <div class="row">
                        <h3>Unpublished Factions:</h3>
                        {% if unpublished_factions %}
                                {% for storyobject in unpublished_factions %}
                                    <a class="btn btn-success btn-sm" style="background:black" href="/personas/storyobject/{{ storyobject.slug }}">
                                    {% thumbnail storyobject.image "30x30" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% endthumbnail %}   {{ storyobject }}</a>
                                {% endfor %}
                        {% else %}
                            <strong>No unpublished factions.</strong>
                            <br><br>
                        {% endif %}
                        <hr>
                    </div>
                </div>
            
                <div class="col-md-4 col-sm-4 col-lg-4" id="col1">
                <div class="row">
                        <h3>Unpublished Organizations:</h3>
                        {% if unpublished_organizations %}
                                {% for storyobject in unpublished_organizations %}
                                    <a class="btn btn-success btn-sm" style="background:black" href="/personas/storyobject/{{ storyobject.slug }}">
                                    {% thumbnail storyobject.image "30x30" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% endthumbnail %}   {{ storyobject }}</a>
                                {% endfor %}
                        {% else %}
                            <strong>No unpublished organizations.</strong>
                            <br><br>
                        {% endif %}
                        <hr>
                    </div>
                </div>

            </div>

            {% endblock %}
            {% block column2 %}
            <div class="tab-pane fade in" id="characters"> <!-- Start Tab Two -->
                <div class="col-md-8 col-sm-8 col-lg-8" id="col1">
                    <div class="row">
                        <h3>Unpublished Characters:</h3>
                        {% if unpublished_characters %}
                                {% for storyobject in unpublished_characters %}
                                    <a class="btn btn-success btn-sm" style="background:black" href="/personas/storyobject/{{ storyobject.slug }}">
                                    {% thumbnail storyobject.image "30x30" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% endthumbnail %}   {{ storyobject }}</a>
                                {% endfor %}
                        {% else %}
                            <strong>No unpublished characters.</strong>
                            <br><br>
                        {% endif %}
                        <hr>
                    </div>
                    </div>
                </div> <!-- End Tab Two -->

                <div class="tab-pane fade in" id="creatures"> <!-- Start Tab One -->
                <div class="col-md-4 col-sm-4 col-lg-4" id="col1">
                <div class="row">
                        <h3>Unpublished Creatures:</h3>
                        {% if unpublished_creatures %}
                                {% for storyobject in unpublished_creatures %}
                                    <a class="btn btn-success btn-sm" style="background:black" href="/personas/storyobject/{{ storyobject.slug }}">
                                    {% thumbnail storyobject.image "30x30" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% endthumbnail %}   {{ storyobject }}</a>
                                {% endfor %}
                        {% else %}
                            <strong>No unpublished creatures.</strong>
                            <br><br>
                        {% endif %}
                        <hr>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-lg-4" id="col1">
                <div class="row">
                        <h3>Unpublished Things:</h3>
                        {% if unpublished_things %}
                                {% for storyobject in unpublished_things %}
                                    <a class="btn btn-success btn-sm" style="background:black" href="/personas/storyobject/{{ storyobject.slug }}">
                                    {% thumbnail storyobject.image "30x30" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% endthumbnail %}   {{ storyobject }}</a>
                                {% endfor %}
                        {% else %}
                            <strong>No unpublished things.</strong>
                            <br><br>
                        {% endif %}
                        <hr>
                    </div>
                </div>
            </div>


            {% endblock %}
        </div> <!-- End of container -->
<script>
var url = document.location.toString();
if (url.match('#')) {
$('#char_tabs a[href=#'+url.split('#')[1]+']').tab('show') ;
}
// Change hash for page-reload
$('#char_tabs a').on('shown.bs.tab', function (e) {
window.location.hash = e.target.hash;
})
</script>

    {% endblock content %}